<section class="fanshop-section mb-section">
  <div class="container">
    <div class="fanshop-section__wrapper boxShadow boxRadius">
      <div class="d-flex px-5 justify-content-between align-center mb-4">
        <div class="title">Top z fanshopu</div>

        <a href="#" class="link link--decore">Více produktů</a>
      </div>
      <div class="fanshop-section__row">
        <div class="fanshop__item">
          <a class="fanshop__item-link" href="#">
            <div class="fanshop__item-img">
              <img src="images/content/shop-1.png" loading="lazy" alt="" />
            </div>
            <p>Kulich dětský dvoubarevný</p>
          </a>
          <div class="fanshop__item-info">
            <div class="fanshop__item-price">449 Kč</div>
            <a href="#" class="fanshop__item-cart">
              {% include "@images/cart.svg" %}
            </a>
          </div>
        </div>
        <div class="fanshop__item">
          <a class="fanshop__item-link" href="#">
            <div class="fanshop__item-img">
              <img src="images/content/shop-2.png" loading="lazy" alt="" />
            </div>
            <p>Fandres HC Oceláři 23/24 černý</p>
          </a>
          <div class="fanshop__item-info">
            <div class="fanshop__item-price">1390 Kč</div>
            <a href="#" class="fanshop__item-cart">
              {% include "@images/cart.svg" %}
            </a>
          </div>
        </div>
        <div class="fanshop__item">
          <a class="fanshop__item-link" href="#">
            <div class="fanshop__item-img">
              <img src="images/content/shop-3.png" loading="lazy" alt="" />
            </div>
            <p>Kšiltovka dospělá brain</p>
          </a>
          <div class="fanshop__item-info">
            <div class="fanshop__item-price">469 Kč</div>
            <a href="#" class="fanshop__item-cart">
              {% include "@images/cart.svg" %}
            </a>
          </div>
        </div>
        <div class="fanshop__item">
          <a class="fanshop__item-link" href="#">
            <div class="fanshop__item-img">
              <img src="images/content/shop-4.png" loading="lazy" alt="" />
            </div>
            <p>Puk oficiální ligový 23/24</p>
          </a>
          <div class="fanshop__item-info">
            <div class="fanshop__item-price">150 Kč</div>
            <a href="#" class="fanshop__item-cart">
              {% include "@images/cart.svg" %}
            </a>
          </div>
        </div>
        <div class="fanshop__item">
          <a class="fanshop__item-link" href="#">
            <div class="fanshop__item-img">
              <img src="images/content/shop-5.png" loading="lazy" alt="" />
            </div>
            <p>Mikina dámská logo patina</p>
          </a>
          <div class="fanshop__item-info">
            <div class="fanshop__item-price">999 Kč</div>
            <a href="#" class="fanshop__item-cart">
              {% include "@images/cart.svg" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
