<section class="players-section">
  <div class="container">
    <div class="players-section__menu boxShadow boxRadius">
      <h1 class="title">A-tým</h1>

      <div class="o-select players-section__label">
        <div class="boxFilter__category">Sezóna</div>
        <select class="js-select">
          <option>sezona 2</option>
          <option>sezona 3</option>
          <option>FORTUNA:NÁRODNÍ LIGA 2023/24</option>
          <option>sezona 1</option>
          <option>sezona 2</option>
          <option>sezona 3</option>
          <option>sezona 4</option>
          <option>sezona 5</option>
        </select>
      </div>
    </div>
    <div class="players-section__box boxShadow boxRadius">
      <h2 class="title">Brankáři</h2>
      <div class="row g-4">
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="players-section__box boxShadow boxRadius">
      <h2 class="title">oBRÁNCI</h2>
      <div class="row g-4">
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="players-section__box boxShadow boxRadius">
      <h2 class="title">úTOČNÍCI</h2>
      <div class="row g-4">
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
