<section class="ticketInformation">
  <div class="container">
    <div class="boxSection">
      <h1 class="title mb-lg-4 mb-3">CENY VSTUPENEK NA SEZONU 2023/24</h1>
      <p class="p1 mb-5">
        I v sezoně 2022/23 zohledňuje cena vstupného atraktivitu soupeře a čas
        utkání. Zápasy jsou rozděleny do pěti kategorií.
      </p>
      <div class="ticketInformation__arena">
        <img src="images/content/arena.jpg" alt="" />
      </div>
      <div class="ticketInformation__table">
        <table>
          <thead>
            <tr>
              <th>Cenová kategorie</th>
              <th>Sektory A,E</th>
              <th>Ostatní</th>
              <th>Stání</th>
              <th>Označení kategorie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Kategorie 1</strong></td>
              <td>540 Kč</td>
              <td>440 Kč</td>
              <td>265 Kč</td>
              <td><div class="category category--yellow"></div></td>
            </tr>
            <tr>
              <td><strong>Kategorie 2</strong></td>
              <td>450 Kč</td>
              <td>370 Kč</td>
              <td>240 Kč</td>
              <td><div class="category category--red"></div></td>
            </tr>
            <tr>
              <td><strong>Kategorie 3</strong></td>
              <td>390 Kč</td>
              <td>320 Kč</td>
              <td>220 Kč</td>
              <td><div class="category category--green"></div></td>
            </tr>
            <tr>
              <td><strong>Kategorie 4</strong></td>
              <td>330 Kč</td>
              <td>260 Kč</td>
              <td>170 Kč</td>
              <td><div class="category category--blue"></div></td>
            </tr>
            <tr>
              <td><strong>Kategorie 5</strong></td>
              <td>220 Kč</td>
              <td>180 Kč</td>
              <td>125 Kč</td>
              <td><div class="category category--gray"></div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="boxSection">
      <div class="d-flex justify-content-between flex-wrap align-center gap-2">
        <h2 class="title">Domácí zápasy</h2>
        <a href="#" class="link link--decore"> Všechny budoucí zápasy </a>
      </div>
      <div class="games-section__inner">
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo game__logo--mobile">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__infoBox">
            <div class="game__date">Pá 28. 11. 18:30</div>
            <div class="game__teams">Třinec - Litvínov</div>
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/content/o2.png" alt="" />
              </a>
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>
          </div>

          <div class="game__links">
            <div class="category category--yellow">Kategorie 1</div>
            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo game__logo--mobile">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__infoBox">
            <div class="game__date">Pá 28. 11. 18:30</div>
            <div class="game__teams">Třinec - Litvínov</div>
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>
          </div>

          <div class="game__links">
            <div class="category category--red">Kategorie 2</div>
            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo game__logo--mobile">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__infoBox">
            <div class="game__date">Pá 28. 11. 18:30</div>
            <div class="game__teams">Třinec - Litvínov</div>
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/content/o2.png" alt="" />
              </a>
            </div>
          </div>

          <div class="game__links">
            <div class="category category--gray">Kategorie 5</div>
            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo game__logo--mobile">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__infoBox">
            <div class="game__date">Pá 28. 11. 18:30</div>
            <div class="game__teams">Třinec - Litvínov</div>
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/content/o2.png" alt="" />
              </a>
            </div>
          </div>

          <div class="game__links">
            <div class="category category--blue">Kategorie 4</div>
            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo game__logo--mobile">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__infoBox">
            <div class="game__date">Pá 28. 11. 18:30</div>
            <div class="game__teams">Třinec - Litvínov</div>
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/content/o2.png" alt="" />
              </a>
            </div>
          </div>

          <div class="game__links">
            <div class="category category--green">Kategorie 3</div>
            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
