<section class="webEsports">
  <div class="container">
    <div class="boxSection">
      <h1 class="title mb-lg-4 mb-3">ENYAQ HOKEJOVÁ LIGA</h1>
      <p class="p1 mb-lg-4 mb-3">
        Tento unikátní projekt představuje videoherní NHL 23 ligu v České
        republice, která se bude hrát exkluzivně na konzolích PlayStation 5.
        Skrze online kvalifikace a nominace klubů se vyberou nejlepší hráči,
        kteří budou v základní částí reprezentovat 14 týmů Tipsport extraligy. V
        play-off se utká 8 nejlepších týmů, které se společně poperou o finanční
        odměnu.
      </p>
      <a href="#" class="btn webEsports__btn">VÍCE O EHL</a>
    </div>
    <div class="boxSection">
      <h2 class="title mb-lg-4 mb-3">SOUPISKA</h2>
      <div class="row g-4">
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a href="#" class="players-section__item">
            <div class="players-section__img">
              <div class="players-section__num">90</div>
              <img src="images/content/ava-1.jpeg" alt="player" />
              <div class="players-section__flag">
                <img src="images/content/cz_flag.png" alt="cz-flag" />
              </div>
            </div>

            <div class="players-section__content">
              <div class="players-section__title">Ondřej Kacetl</div>
              <p>15.10.1990</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="boxSection">
      <h3 class="title mb-lg-4 mb-3">Nejbližší zápasy</h3>
      <div class="games-section__inner">
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Tipsport extraliga</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/content/o2.png" alt="" />
              </a>
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>

            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Enyaq hockey league</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/content/o2.png" alt="" />
              </a>
            </div>
            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Spengler cup</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>

            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
      </div>
    </div>
    <div class="boxSection">
      <h3 class="title">ODEHRANÉ ZÁPASY</h3>
      <div class="games-section__inner games-section__all">
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Tipsport extraliga</div>
          <div class="game__links">
            <div class="game__result">
              <span>(1:1, 0:1, 1:0)</span>
              <a href="#" class="lose">2:3</a>
            </div>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Liga mistrů</div>
          <div class="game__links">
            <div class="game__result">
              <span>(1:1, 0:1, 1:0)</span>
              <a href="#" class="win">3:4</a>
            </div>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Tipsport extraliga</div>
          <div class="game__links">
            <div class="game__result">
              <span>(1:1, 0:1, 1:0)</span>
              <a href="#" class="lose">2:3</a>
            </div>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Liga mistrů</div>
          <div class="game__links">
            <div class="game__result">
              <span>(1:1, 0:1, 1:0)</span>
              <a href="#" class="win">3:4</a>
            </div>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Tipsport extraliga</div>
          <div class="game__links">
            <div class="game__result">
              <span>(1:1, 0:1, 1:0)</span>
              <a href="#" class="lose">2:3</a>
            </div>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Liga mistrů</div>
          <div class="game__links">
            <div class="game__result">
              <span>(1:1, 0:1, 1:0)</span>
              <a href="#" class="win">3:4</a>
            </div>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Tipsport extraliga</div>
          <div class="game__links">
            <div class="game__result">
              <span>(1:1, 0:1, 1:0)</span>
              <a href="#" class="lose">2:3</a>
            </div>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Liga mistrů</div>
          <div class="game__links">
            <div class="game__result">
              <span>(1:1, 0:1, 1:0)</span>
              <a href="#" class="win">3:4</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
