<section class="hospitality-section">
  <div class="container">
    <div class="hospitality-section__inner">
      <div class="boxSection rounded-top rounded-0">
        <h1 class="title mb-lg-4 mb-3">VIP HOSPITALITY</h1>
        <p class="p1">
          HC Oceláři Třinec jako přední hokejový klub v České republice nabízí
          ve spojení se zázemím WERK ARENY, jedné z nejmodernějších sportovních
          arén ve střední Evropě, také jedinečnou příležitost VIP pohostinství.
          Využijte našich prostorů k jedinečnému zážitku z hokeje spolu se svými
          klienty, důležitými obchodními partnery, nebo vašimi zaměstnanci.
        </p>
      </div>
      <div class="article-section__bottom mt-3 mb-lg-5 mb-4">
        <div class="row g-3">
          <div class="col-md-4 col-12">
            <a href="#" class="topstory__item boxShadow">
              <img src="images/content/hosp-1.png" alt="hospitality" />
              <div class="topstory__item-title">Sky box</div>
            </a>
          </div>
          <div class="col-md-4 col-12">
            <a href="#" class="topstory__item boxShadow">
              <img src="images/content/hosp-7.png" alt="hospitality" />
              <div class="topstory__item-title">VIP Restaurace</div>
            </a>
          </div>
          <div class="col-md-4 col-12">
            <a href="#" class="topstory__item boxShadow">
              <img src="images/content/hosp-9.png" alt="hospitality" />
              <div class="topstory__item-title">VIP Premium sedadla</div>
            </a>
          </div>
        </div>
      </div>
      <div class="boxSection">
        <h2 class="title mb-lg-4 mb-3">SKY BOX</h2>
        <p class="p1 mb-4">
          Ať už se chystáte na firemní akci, setkání s obchodními partnery nebo
          chcete prožít nezapomenutelný sportovní večer se svou rodinou a
          přáteli, skyboxy WERK ARENY jsou tím pravým místem. Naše luxusní
          skyboxy jsou vytvořeny s důrazem na jedinečný zážitek pro naše
          návštěvníky. S exkluzivním výhledem na kluziště si během hokejového
          utkání užijete zážitek, který je téměř jako sedět přímo na hřišti.
          Každý skybox je vkusně zařízen a nabízí pohodlná sedadla, prvotřídní
          cateringové služby a osobní obsluhu, která se postará o každé vaše
          přání.
        </p>
        <div class="boxGray">
          <h3 class="title mb-lg-4 mb-3">Výhody sky boxu</h3>

          <div class="boxGray__list row mb-5">
            <div class="col-lg-6">
              <p>VIP vchod bez front</p>
              <p>Parkování na VIP parkovišti</p>
              <p>
                Možnost stravování ve VIP restauraci formou teplého i studeného
                rautu
              </p>
            </div>
            <div class="col-lg-6">
              <p>Přednostní právo na využití SKY BOXU během kulturních akcí</p>
              <p>Catering k dispozici</p>
              <p>Oddělené, pohodlné a komfortní zázemí</p>
            </div>
          </div>
          <h3 class="title mb-4">VYBAVENÍ</h3>
          <div class="hospitality-section__equipment">
            <div class="hospitality-section__equipment-item">
              <img src="images/ico/kuchyn.svg" alt="" />
              Kuchyňský kout
            </div>
            <div class="hospitality-section__equipment-item">
              <img src="images/ico/bar.svg" alt="" />
              Barové sezení
            </div>
            <div class="hospitality-section__equipment-item">
              <img src="images/ico/seat.svg" alt="" />
              Balkón se sedadly v hledišti
            </div>
          </div>
        </div>
        <div class="row g-3 mb-lg-5 mb-4">
          <div class="col-12">
            <div class="boxRadius">
              <img
                class="w-100"
                src="images/content/hosp-1.png"
                alt="hospitality"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="boxRadius">
              <img
                class="w-100"
                src="images/content/hosp-4.png"
                alt="hospitality"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="boxRadius">
              <img
                class="w-100"
                src="images/content/hosp-5.png"
                alt="hospitality"
              />
            </div>
          </div>
        </div>
        <div class="boxGray mb-lg-5 mb-4">
          <h4 class="title mb-lg-4 mb-3">VSTUP</h4>
          <p class="p1">
            Vstup do SKY BOXU je možný prostřednictvím čipových VIP karet, které
            jsou přiděleny nájemci. Nájemce má k dispozici vstup, který je
            situovaný vedle hlavního východě u recepce. Každý majitel má právo
            na pobyt ve SKY BOXU vždy 2 hodiny před a hodinu po sportovní či
            kulturní události.
          </p>
        </div>
        <div class="tableBox">
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>Na sezónu</th>
                  <th>Cena</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>reklamní smlouva</td>
                  <td>1 875 000,- bez DPH</td>
                </tr>
                <tr>
                  <td>nájemní smlouva</td>
                  <td>79 800,- bez DPH</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>Na jeden zápas</th>
                  <th>Cena</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>nájemní smlouva</td>
                  <td>70 000,- bez DPH</td>
                </tr>
                <tr></tr>
              </tbody>
            </table>
          </div>
        </div>

        <a href="#contacts" class="btn btn-scroll btn-primary mx-auto"
          >Mám zájem</a
        >
      </div>
      <div class="boxSection">
        <h3 class="title mb-lg-4 mb-3">VIP RESTAURACE</h3>
        <p class="p1 mb-4">
          WERK ARENA nabízí mnoho nevšedních způsobů, jak sledovat hokej. Jedním
          z nich je také místo ve VIP Restauraci. Oddělené a komfortní zázemí
          restaurace ve 2. patře multifunkční arény skrývá možnost neomezeného
          stravování v průběhu utkání formou studeného a teplého rautu,
          samozřejmostí členství v programu jsou pivní a vybrané nealkoholické
          nápoje v průběhu akce neomezeně zdarma. Ke vstupu do restaurace slouží
          samostatný VIP vstup. Výjimečný výhled lze využít také při jiných
          kulturních akcích, kam má člen programu VIP Restaurace přednostní
          právo nákupu sedadla za cenu nejlevnějších míst k sezení na danou
          akci.
        </p>
        <div class="boxGray">
          <h3 class="title mb-lg-4 mb-3">Výhody sedadla ve VIP RESTAURACi</h3>

          <div class="boxGray__list row">
            <div class="col-lg-6">
              <p>VIP vchod bez front</p>
              <p>
                Stravování ve VIP restauraci formou teplého i studeného rautu
              </p>
              <p>Pivní nápoje a vybrané nealkoholické nápoje v ceně</p>
            </div>
            <div class="col-lg-6">
              <p>
                Přednostní právo sedadla během kulturních akcí za cenu
                nejlevnější vstupenky s sezení / osoba
              </p>
              <p>Oddělené a komfortní zázemí</p>
              <p>
                Vhodný dárek pro vaše klíčové zákazníky nebo obchodní partnery
              </p>
            </div>
          </div>
        </div>
        <div class="row g-3 mb-lg-5 mb-4">
          <div class="col-12">
            <div class="boxRadius">
              <img
                class="w-100"
                src="images/content/hosp-6.png"
                alt="hospitality"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="boxRadius">
              <img
                class="w-100"
                src="images/content/hosp-7.png"
                alt="hospitality"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="boxRadius">
              <img
                class="w-100"
                src="images/content/hosp-6.png"
                alt="hospitality"
              />
            </div>
          </div>
        </div>
        <div class="boxGray mb-lg-5 mb-4">
          <h4 class="title mb-lg-4 mb-3">VSTUP</h4>
          <p class="p1">
            Vstup do VIP restaurace je možný prostřednictvím čipové karty VIP
            restaurace, která je přidělena nájemci. Majitelé sedadla VIP
            restaurace mají k dispozici vstup, který je situovaný vedle pokladny
            „parkoviště“
          </p>
        </div>
        <div class="tableBox tableBox__multi">
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>Na sezónu s reklamou</th>
                  <th>Cena</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>reklamní smlouva</td>
                  <td>od 100 000,- bez DPH</td>
                </tr>
                <tr>
                  <td>nájemní smlouva</td>
                  <td>17 500,- bez DPH</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>Na sezónu bez reklamy</th>
                  <th>Cena</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>nájemní smlouva</td>
                  <td>45 000,- bez DPH</td>
                </tr>
                <tr></tr>
              </tbody>
            </table>
          </div>
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>Na jeden zápas</th>
                  <th>Cena</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>nájemní smlouva</td>
                  <td>3 000,- bez DPH</td>
                </tr>
                <tr></tr>
              </tbody>
            </table>
          </div>
        </div>
        <p class="pm-20 text-center mb-md-5 mb-4">
          VIP Restauraci si lze také samostatně pronajmout pro vaši firemní či
          soukromou akci.
        </p>
        <a href="#contacts" class="btn btn-scroll btn-primary mx-auto"
          >Mám zájem</a
        >
      </div>
      <div class="boxSection">
        <h3 class="title mb-lg-4 mb-3">VIP PREMIUM</h3>
        <p class="p1 mb-4">
          Užít si utkání Ocelářů lze mnoha způsoby. Na sezónu 2022/23 si Oceláři
          připravili změny v programu VIP PREMIUM. Místa kdekoliv ve WERK ARENĚ
          nebo bohatý sezónní rozpočet na občerstvení. To jsou novinky, které
          mají Oceláři připravené pro prémiové fanoušky. Balíček nadstandardních
          služeb zahrnuje třeba taky donášku na místo nebo exkluzivní trikot s
          vlastním jménem.
        </p>
        <div class="boxGray">
          <h3 class="title mb-lg-4 mb-3">Výhody sedadla vip premium</h3>

          <div class="boxGray__list row">
            <div class="col-lg-6">
              <p>
                Rozpočet na občerstvení v bufetech WERK ARENY (5000,- v sezónním
                balíčku)
              </p>
              <p>VIP vchod bez front</p>
              <p>Donáška pití na místo</p>
              <p>
                Objednávku z bufetů po celé hale lze udělat jednoduše skrze
                aplikaci
              </p>
            </div>
            <div class="col-lg-6">
              <p>Speciální tričko s potiskem jména/přezdívky</p>
              <p>
                Lukrativní místo v sektoru „E“ přímo za střídačkou domácího
                mužstva
              </p>
              <p>Limitovaný počet držitelů karet (max. 26 osob)</p>
              <p>
                Přednostní právo sedadla během kulturních akcí za cenu
                nejlevnější vstupenky s sezení / osoba
              </p>
            </div>
          </div>
        </div>
        <div class="boxRadius mb-lg-5 mb-4">
          <img
            class="w-100"
            src="images/content/hosp-9.png"
            alt="hospitality"
          />
        </div>
        <div class="boxGray mb-lg-5 mb-4">
          <h4 class="title mb-lg-4 mb-3">VSTUP</h4>
          <p class="p1">
            Vstup do VIP premium je možný prostřednictvím čipové karty VIP
            premium nebo mobilní aplikací HC Oceláři Třinec před VIP vstup.
            Majitelé VIP premium mají k dispozici vstup, který je situovaný
            vedle pokladny „parkoviště“.
          </p>
        </div>
        <div class="tableBox tableBox__multi">
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>Na sezónu</th>
                  <th>Cena</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>bez DPH</td>
                  <td>20 000,-</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>Na jeden zápas</th>
                  <th>Cena</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>bez DPH</td>
                  <td>1 500,-</td>
                </tr>
                <tr></tr>
              </tbody>
            </table>
          </div>
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>Dětská na sezónu</th>
                  <th>Cena</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>do 150 cm / bez DPH</td>
                  <td>4 000,-</td>
                </tr>
                <tr></tr>
              </tbody>
            </table>
          </div>
        </div>
        <a href="#contacts" class="btn btn-scroll btn-primary mx-auto"
          >Mám zájem</a
        >
      </div>
      <div class="boxSection" id="contacts">
        <h5 class="title mb-lg-5 mb-4">Kontaktujte nás</h5>
        <div class="row g-lg-5 g-4">
          <div class="col-lg-6">
            <div class="utilizationTickets__contact">
              <div class="utilizationTickets__contact-img">
                <img src="images/content/linka.png" alt="" />
              </div>
              <div class="utilizationTickets__contact-info">
                <p>Ing. Petr Havran</p>
                <a href="tel:+420602637220">+420 602 637 220</a>
                <a href="mailto:peter.harvan@hcotrinec.cz"
                  >peter.harvan@hcotrinec.cz</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="utilizationTickets__contact">
              <div class="utilizationTickets__contact-img">
                <img src="images/content/linka.png" alt="" />
              </div>
              <div class="utilizationTickets__contact-info">
                <p>Ing. Tomáš Hudcovský</p>
                <a href="tel:+420602637220">+420 602 637 220</a>
                <a href="mailto:tomas.hudcovsky@hcotrinec.cz"
                  >tomas.hudcovsky@hcotrinec.cz</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
