<section class="pressMedia">
  <div class="container">
    <div class="boxRadius boxShadow contacts-section__box">
      <h1 class="title">TISKOVÝ MLUVČÍ</h1>
      <div class="o-content">
        <table>
          <tbody>
            <tr>
              <td>
                <strong> Ondřej Kuchař</strong>
              </td>
              <td>
                <a href="tel:+420608833573">+420 608 833 573</a>
              </td>
              <td>
                <a href="mailto:ondrej.kuchar@hcotrinec.cz"
                  >ondrej.kuchar@hcotrinec.cz</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="boxRadius boxShadow contacts-section__box">
      <h2 class="title">Redakční tým</h2>
      <div class="o-content">
        <table>
          <tbody>
            <tr>
              <td>
                <strong>Redakce </strong>
              </td>

              <td>
                <a href="mailto:redakce@hcocelari.cz">redakce@hcocelari.cz</a>
              </td>
            </tr>
            <tr>
              <td>
                <strong> Adam Sušovský </strong>
              </td>
              <td>
                <a href="mailto:adam.susovsky@hcotrinec.cz"
                  >adam.susovsky@hcotrinec.cz</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <strong> Daniel Ježek </strong>
              </td>

              <td>
                <a href="mailto:daniel.jezek@hcocelari.cz"
                  >daniel.jezek@hcocelari.cz</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <strong>Michal Samiec </strong>
              </td>

              <td>
                <a href="mailto:michal.samiec@hcocelari.cz"
                  >michal.samiec@hcocelari.cz
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Martina Sikorová</strong>
              </td>
              <td>
                <a href="mailto:martina.sikorova@hcotrinec.cz"
                  >martina.sikorova@hcotrinec.cz</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <strong> Lukáš Filipec</strong>
              </td>

              <td>
                <a href="mailto:foto-lukas.filipec@email.cz"
                  >foto-lukas.filipec@email.cz</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="boxRadius boxShadow contacts-section__box">
      <h3 class="title">AKREDITACE</h3>
      <p class="p1">
        Požádat o akreditaci lze prostřednictvím emailu. O zpracování vaší
        akreditace budete informováni do 24 hodin od odeslání. Žádost lze zaslat
        nejpozději 24 hodin před začátkem utkání.
      </p>
      <div class="article-section__box bg-gray boxRadius">
        <div class="title">PRAVIDLA AKREDITACE</div>
        <div class="o-content">
          <ul>
            <li>
              Na extraligová utkání bude umožněn vstup do PRESS centra pouze
              dopředu akreditovaným novinářům v nejvyšším počtu dvou osob na
              redakci v daném utkání. Ve výjimečných případech bude umožněn
              vstup do PRESS centra více akreditovaným novinářům či fotografům z
              jedné redakce.
            </li>
            <li>
              Za každé rádio se může akreditovat pouze jeden moderátor. To se
              netýká rádií, jež jsou smluvně vázány s hokejovým klubem.
            </li>
            <li>
              Novinář či fotograf musí vyplnit žádost o akreditaci přes e-mail:
              ondrej.kuchar@hcotrinec.cz, kde uvede celé jméno, redakci a zda se
              jedná o novináře, nebo fotografa. Součástí akreditace musí být
              telefonní kontakt a mail na novináře (fotografa).
            </li>
            <li>
              Akreditační PRESS kartu si budou moci novináři vyzvednout na
              recepci haly v den utkání.
            </li>
            <li>
              Fotograf je povinen nosit v hledišti a na vyznačených fotopozicích
              vestu. Zapůjčit ji lze v PRESS centru WERK ARENY.
              <ul>
                <li>
                  Při jednorázové akreditaci je povinen tuto vestu po akci
                  vrátit zpět do PRESS centra WERK ARENY.
                </li>
                <li>
                  Focení mezi střídačkami je VYHRAZENO klubovým fotografům a
                  ČTK.
                </li>
                <li>
                  Focení je možné POUZE na vyznačených fotopozicích (TV lávka,
                  místa v rohu kluziště).
                </li>
              </ul>
            </li>
            <li>
              Akreditovaní novináři se zavazují respektovat povinnost provádět
              veškeré rozhovory s hráči a se členy realizačního týmu pouze v
              prostorách MIX zóny.
            </li>
            <li>
              Klub si vyhrazuje právo neudělit akreditaci, popřípadě odebrat
              akreditaci, při nerespektování pravidel akreditace nebo při jejím
              zneužívání.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
