<section class="article-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-11 mx-auto">
        <div class="article-section__inner boxShadow">
          <div class="topstory__main boxShadow">
            <img src="images/content/top-1.jpeg" alt="top" />
            <h1>Zklamaný Voženílek: Šance tam byly. Musíme se poučit</h1>
          </div>
          <div class="article-section__content">
            <ul class="article-section__info">
              <li>10.01.2024</li>
              <li>Ondřej Kuchař</li>
            </ul>
            <div class="o-content">
              <p>
                V předchozích šesti utkáních Oceláři ani jednou neodcházeli ze
                vzájemného měření s Libercem s nulou. Bodovou sérii se soupeřem
                zpod Ještědu se však na sedmičku natáhnout nepodařilo. Třinečtí
                na severu Čech v dohrávce 29. kola Tipsport extraligy padli 1:4.
                „Zklamání. Příště musíme být lepší,“ má jasno Daniel Voženílek.
                Série venkovních duelů bude pokračovat v pátek na ledě Karlových
                Varů.
              </p>
              <p>
                Zklamání bylo patrné. Oceláři v Liberci nesehráli špatný zápas.
                Utkání, jenž bylo dlouho chudé na góly, mohli s trochou štěstí
                dotáhnout k bodům. Nepodařilo se. Z 31 střel přetavili Slezané v
                branku jedinou. Ve 47. minutě na 1:2 snižoval kontaktní trefou
                Miloš Roman. To ale bylo všechno.
              </p>
              <p>
                „Těžko se mi to hodnotí. Každý chce samozřejmě vyhrát, každý
                chce dávat góly. Obě obrany dnes hrály velmi dobře, takže to
                vypadalo takhle,“ komentoval nevelký počet gólů Daniel
                Voženílek.
              </p>
              <p class="boxRadius">
                <img src="images/content/top-2.jpeg" alt="top" />
              </p>
              <p>
                Zklamání bylo patrné. Oceláři v Liberci nesehráli špatný zápas.
                Utkání, jenž bylo dlouho chudé na góly, mohli s trochou štěstí
                dotáhnout k bodům. Nepodařilo se. Z 31 střel přetavili Slezané v
                branku jedinou. Ve 47. minutě na 1:2 snižoval kontaktní trefou
                Miloš Roman. To ale bylo všechno.
              </p>
              <p>
                „Těžko se mi to hodnotí. Každý chce samozřejmě vyhrát, každý
                chce dávat góly. Obě obrany dnes hrály velmi dobře, takže to
                vypadalo takhle,“ komentoval nevelký počet gólů Daniel
                Voženílek.
              </p>
              <div class="article-section__box bg-gray boxRadius">
                <div class="title">VĚDĚLI JSTE, ŽE?</div>
                <ul>
                  <li>
                    Přestože se hraje už třetí čtvrtina soutěže, Oceláři se v
                    letošním ročníku s Kladnem potkali jen jednou. Hrálo se na
                    ledě Třince a body se v zápase dělily, Oceláři bojujícího
                    soka porazili 4:3 až v prodloužení.
                  </li>
                  <li>
                    Jaromír Jágr v kariéře odehrál proti Třinci dosud 11 zápasů,
                    připsal si v nich stejný počet bodů (4+7). Z toho 4 (1+3)
                    během dvou zápasů v minulé seoně.
                  </li>
                </ul>
              </div>
              <p>
                Zklamání bylo patrné. Oceláři v Liberci nesehráli špatný zápas.
                Utkání, jenž bylo dlouho chudé na góly, mohli s trochou štěstí
                dotáhnout k bodům. Nepodařilo se. Z 31 střel přetavili Slezané v
                branku jedinou. Ve 47. minutě na 1:2 snižoval kontaktní trefou
                Miloš Roman. To ale bylo všechno.
              </p>
              <p class="boxRadius">
                <img src="images/content/top-3.jpeg" alt="top" />
              </p>
              <p>
                „Těžko se mi to hodnotí. Každý chce samozřejmě vyhrát, každý
                chce dávat góly. Obě obrany dnes hrály velmi dobře, takže to
                vypadalo takhle,“ komentoval nevelký počet gólů Daniel
                Voženílek.
              </p>
              <q>
                <p>
                  „Možná tím, že jsme hned dali gól, jsme začali věřit, že se se
                  zápasem dá ještě něco udělat.“
                </p>
                <span>Jméno Příjmení, pozice HC Oceláři Třinec </span>
              </q>
              <p>
                V závěrečné hře bez brankáři ještě Oceláři inkasovali dvakrát.
                Poprvé velmi rychle, aniž by Ondřej Kacetl stačil opustil led a
                vkročit na střídačku. „Bohužel, je to tak. Dostali jsme puk na
                modrou čáru, obránce to chtěl dostat rychle na branku. V ten
                moment odjel Ondra Kacetl z branky. Soupeř vzal puk a rovnou
                vystřelil. Nešťastný souběh okolností. I z tohohle se musíme
                poučit do dalších zápasů.“
              </p>
              <div class="article-section__news">
                <span> 3 </span>
                <p>
                  Tolik bodů chybí Martinu Růžičkovi k překonání klubového
                  bodového rekordu Richarda Krále.
                </p>
              </div>
              <p>
                Předtím měli Třinečtí několik dobrých příležitostí, Liberec ale
                podržel gólman Daniel Král. „Pořád tam byla šance srovnat. Je
                škoda, že jsme nezahrozili víc,“ litoval Voženílek.
              </p>
              <p>
                Další utkání čeká Oceláře v pátek od 17:30 na ledě Karlových
                Varů, poté se v neděli představí na kladenském zimním stadionu.
              </p>
            </div>
          </div>
        </div>
        <div class="article-section__bottom">
          <div class="row g-10">
            <div class="col-md-4 col-6">
              <a href="#" class="topstory__item boxShadow">
                <img src="images/content/top-2.jpeg" alt="top" />
                <div class="topstory__item-title">
                  Kurovský chválil charakter
                </div>
              </a>
            </div>
            <div class="col-md-4 col-6">
              <a href="#" class="topstory__item boxShadow">
                <img src="images/content/top-3.jpeg" alt="top" />
                <div class="topstory__item-title">
                  Sikorův první zápas v extralize
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <div class="topstory__news boxShadow">
                <ul class="topstory__list">
                  <li>
                    <a href="#">Dětský reportér: Pozvánka na Litvínov</a>
                  </li>
                  <li>
                    <a href="#">Junioři na čtvrteční výhru nenavázali </a>
                  </li>
                </ul>
                <a href="#" class="link link--decore">Další články</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
