<section class="timeline-section">
  <div class="container">
    <div class="timeline">
      <div class="timeline__left timeline__item" id="time-2015">
        <div class="timeline__date">2015/16</div>
        <div class="timeline__content">
          <div class="boxSection">
            <div class="timeline__header">
              <h1 class="title mb-lg-4 mb-3">NADAČNÍ FOND oceláři</h1>
              <div class="timeline__logo">
                <img src="images/content/timeline-logo.png" alt="" />
              </div>
            </div>
            <div class="o-content">
              <p class="p1">
                Smyslem tohoto subjektu je vytváření podmínek pro dlouhodobý,
                stabilní a koncepční rozvoj a podporu třineckého mládežnického
                hokeje.
              </p>
              <p>
                HC OCELÁŘI TŘINEC vnímají dlouhodobý nárůst finanční náročnosti
                provozování mládežnického sportu, a to jak pro klub, tak pro
                rodiče mladých sportovců. Na druhou stranu lední hokej má na
                Třinecku silnou tradici. Není pouze o A-týmu, jeho skutečným
                srdcem jsou všichni malí Oceláři.
              </p>
              <p>
                Myšlenka vzniku subjektu, jenž se ve své činnosti primárně
                věnuje podpoře sportující ocelářské mládeže, se začala formovat
                v průběhu sezony 2015/2016. Duchovními „rodiči“ Nadačního fondu
                OCELÁŘI jsou osobnosti spojené s naším hokejovým klubem, v čele
                s paní Irenou Moderovou coby jeho předsedkyní. Patronem fondu a
                zástupcem hráčů je bývalý útočník Ocelářů Zbyněk Irgl.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline__right timeline__item timeline__line">
        <div class="timeline__point"><span></span></div>
        <div class="timeline__content">
          <div class="boxSection">
            <h2 class="title mb-lg-4 mb-3">OCELÁŘI V RODINÁCH</h2>
            <div class="o-content">
              <p class="p1">
                Cílem celého projektu spolupráce Ocelářů s Prvním projektem,
                který Nadační fond podpořil, je Oceláři v rodinách. Jeho cílem
                je ubytovávat do rodin v Třinci a okolí mladé Oceláře, kteří
                přišli do klubu rozvíjet své hokejové dovednosti z různých koutů
                republiky. Rodiny mohou těmto mladíkům poskytnout zázemí,
                kterého v anonymním hotelovém prostředí není možno dosáhnout.
                Nositelem projektu je sportovní manažer Jan Peterek.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline__right timeline__item clearfix">
        <div class="timeline__point"><span></span></div>
        <div class="timeline__content">
          <div class="boxSection">
            <h2 class="title mb-lg-4 mb-3">Dobročinné aktivity</h2>
            <div class="o-content">
              <p class="p1">
                Nadační fond OCELÁŘI se chce postupem času věnovat také dalším
                dobročinným aktivitám, kterými bude usilovat o podporu příznivců
                klubu nacházejících se v nelehké životní situaci.
              </p>
              <p class="p1">
                Fond samozřejmě sídlí v Třinci a vše o něm je možné zjistit na
                webových stránkách
              </p>
              <a href="#" class="btn btn--small btn-primary"
                >www.nfocelari.cz</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
