<section class="playerCards">
  <div class="container">
    <div class="boxSection">
      <h1 class="title mb-lg-4 mb-3">HRÁČSKÉ KARTY</h1>
      <p class="p1">
        Získejte podepsané kartičky Ocelářů z exkluzivní edice! Za příspěvek na
        účet Nadačního fondu Oceláři si můžete vybrat své oblíbené hráče nebo
        kompletní balíček celého týmu.
      </p>
      <div class="boxRaduis my-5">
        <img src="images/content/playercards.png" class="w-100" alt="" />
      </div>

      <div class="tableBox">
        <div class="tableBox__item">
          <table>
            <thead>
              <tr>
                <th>1 kartička / 1 card</th>
                <th>Cena / Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CZK</td>
                <td>25 Kč</td>
              </tr>
              <tr>
                <td>Euro</td>
                <td>1 €</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tableBox__item">
          <table>
            <thead>
              <tr>
                <th>Na jeden zápas</th>
                <th>Cena / Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CZK</td>
                <td>500 Kč</td>
              </tr>
              <tr>
                <td>Euro</td>
                <td>20 €</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tableBox">
        <div class="tableBox__item">
          <table>
            <thead>
              <tr>
                <th>Poštovné</th>
                <th>Cena</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ČR</td>
                <td>25 Kč</td>
              </tr>
              <tr>
                <td>Evropa</td>
                <td>500 Kč</td>
              </tr>
              <tr>
                <td>Zámoří</td>
                <td>149 Kč</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tableBox__item">
          <table>
            <thead>
              <tr>
                <th>Shipping</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ČR / Czech republic</td>
                <td>2 €</td>
              </tr>
              <tr>
                <td>Evropa / Europe</td>
                <td>4 €</td>
              </tr>
              <tr>
                <td>Zámoří / Overseas</td>
                <td>6 €</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="boxSection">
      <form class="playerCards__form">
        <div class="row playerCards__row">
          <div class="col-lg-6">
            <h2 class="title mb-lg-4 mb-3">OBJEDNÁVKA/ORDER FORM</h2>
            <div class="orderForm">
              <input
                type="text"
                placeholder="Jméno a příjmení / Name and surname"
                required
              />
              <input
                type="tel"
                required
                placeholder="Telefonní číslo / Phone number"
              />
              <input type="email" required placeholder="E-mail / Email" />
              <input
                type="text"
                required
                placeholder="Adresa / Street and house number"
              />
              <input type="text" required placeholder="PSČ / ZIP code" />
              <input type="text" required placeholder="Město / City" />
              <input type="text" required placeholder="Země / Country" />
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="title mb-lg-4 mb-3">Výběr / Selection</h3>
            <div class="selectionForm">
              <div class="selectionForm__item">
                <div class="styled-input-single">
                  <input id="team" type="checkbox" />
                  <label for="team">
                    Kartičky celého týmu / Whole team’s cards
                  </label>
                </div>

                <div class="selectionForm__count">
                  <input
                    class="counter__value"
                    type="text"
                    disabled
                    value="1"
                  />
                  ks
                  <div class="counter__change">
                    <div class="counter__btn" data-direction="minus">-</div>
                    <div class="counter__btn" data-direction="plus">+</div>
                  </div>
                </div>
              </div>
              <div class="selectionForm__item">
                <div class="styled-input-single">
                  <input id="cacho" type="checkbox" />
                  <label for="cacho"> Viliam Čacho </label>
                </div>

                <div class="selectionForm__count">
                  <input
                    class="counter__value"
                    type="text"
                    disabled
                    value="1"
                  />
                  ks
                  <div class="counter__change">
                    <div class="counter__btn" data-direction="minus">-</div>
                    <div class="counter__btn" data-direction="plus">+</div>
                  </div>
                </div>
              </div>
              <div class="selectionForm__item">
                <div class="styled-input-single">
                  <input id="adamek" type="checkbox" />
                  <label for="adamek"> Marian Adámek </label>
                </div>

                <div class="selectionForm__count">
                  <input
                    class="counter__value"
                    type="text"
                    disabled
                    value="1"
                  />
                  ks
                  <div class="counter__change">
                    <div class="counter__btn" data-direction="minus">-</div>
                    <div class="counter__btn" data-direction="plus">+</div>
                  </div>
                </div>
              </div>
              <div class="selectionForm__item">
                <div class="styled-input-single">
                  <input id="dano" type="checkbox" />
                  <label for="dano"> Marko Daňo </label>
                </div>

                <div class="selectionForm__count">
                  <input
                    class="counter__value"
                    type="text"
                    disabled
                    value="1"
                  />
                  ks
                  <div class="counter__change">
                    <div class="counter__btn" data-direction="minus">-</div>
                    <div class="counter__btn" data-direction="plus">+</div>
                  </div>
                </div>
              </div>
              <div class="selectionForm__item">
                <div class="styled-input-single">
                  <input id="doktor" type="checkbox" />
                  <label for="doktor"> Jakub Doktor </label>
                </div>

                <div class="selectionForm__count">
                  <input
                    class="counter__value"
                    type="text"
                    disabled
                    value="1"
                  />
                  ks
                  <div class="counter__change">
                    <div class="counter__btn" data-direction="minus">-</div>
                    <div class="counter__btn" data-direction="plus">+</div>
                  </div>
                </div>
              </div>
              <div class="selectionForm__item">
                <div class="styled-input-single">
                  <input id="vrana" type="checkbox" />
                  <label for="vrana"> Petr Vrána </label>
                </div>

                <div class="selectionForm__count">
                  <input
                    class="counter__value"
                    type="text"
                    disabled
                    value="1"
                  />
                  ks
                  <div class="counter__change">
                    <div class="counter__btn" data-direction="minus">-</div>
                    <div class="counter__btn" data-direction="plus">+</div>
                  </div>
                </div>
              </div>
              <div class="selectionForm__item">
                <div class="styled-input-single">
                  <input id="vozenilek" type="checkbox" />
                  <label for="vozenilek"> Daniel Voženílek </label>
                </div>

                <div class="selectionForm__count">
                  <input
                    class="counter__value"
                    type="text"
                    disabled
                    value="1"
                  />
                  ks
                  <div class="counter__change">
                    <div class="counter__btn" data-direction="minus">-</div>
                    <div class="counter__btn" data-direction="plus">+</div>
                  </div>
                </div>
              </div>
              <div class="selectionForm__item">
                <div class="styled-input-single">
                  <input id="smith" type="checkbox" />
                  <label for="smith"> Adam Smith </label>
                </div>

                <div class="selectionForm__count">
                  <input
                    class="counter__value"
                    type="text"
                    disabled
                    value="1"
                  />
                  ks
                  <div class="counter__change">
                    <div class="counter__btn" data-direction="minus">-</div>
                    <div class="counter__btn" data-direction="plus">+</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="p1 text-center mb-lg-5 mb-4">
          Informace k úhradě příspěvku (prostřednictvím bankovního převodu) vám
          po vyplnění formuláře zašleme e-mailem We will send you the payment
          information (via bank transfer) by e-mail after you fill in the form.
        </p>
        <a href="#" class="btn btn-primary mx-auto">Objednat</a>
      </form>
    </div>
  </div>
</section>
