.orderForm {
  display: flex;
  flex-direction: column;

  input {
    display: block;
    width: 100%;
    padding: 16px 16px 16px 0;
    border: none;
    border-bottom: 1px solid #adadad;
    outline: none;
    transition: all 0.3s;
    font-weight: 500;
  }
  input:placeholder {
    color: #adadad;
  }
  input:focus,
  input:active {
    border-bottom: 1px solid var(--color-primary);
  }
}
.playerCards__row {
  --bs-gutter-y: 60px !important;
  --bs-gutter-x: 100px !important;
  margin-bottom: 60px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
  }
}
.selectionForm {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }

  label {
    cursor: pointer;
    display: block;
    position: relative;
    text-align: left;
    padding-left: 28px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      border-radius: 100%;
    }
    &:before {
      left: 0;
      width: 1rem;
      height: 1rem;

      border: 1px solid #000;
      top: 3px;
    }
    &:after {
      left: 2px;
      width: 0.74rem;
      height: 0.74rem;
      opacity: 0;
      top: 5px;
      background: var(--color-primary);
      transition: opacity 0.25s ease-in-out;
    }
  }
}

.selectionForm__count {
  border-bottom: 1px solid #adadad;
  position: relative;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: #adadad;
  &:hover .counter__change {
    opacity: 1;
  }
  input {
    border: none;
    width: max-content;
    max-width: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    color: #adadad;
  }
}
.selectionForm__count.active {
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-dark);
  input {
    color: var(--color-dark);
  }
}
.counter__change {
  position: absolute;
  right: -20px;
  top: -2px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  transition: all 0.3s;
}
.counter__btn {
  cursor: pointer;
  color: var(--color-primary) !important;
  line-height: 10px;
}

.styled-input-single {
  margin-bottom: 8px;
  label {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  input[type="checkbox"] {
    position: absolute;

    visibility: hidden;

    &:checked + label {
      &:after {
        opacity: 1;
      }
    }
  }
}

.playerCards__form {
  option {
    font-size: 1.125rem;
    margin-bottom: 4px;
  }
  select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #adadad;
    border-radius: 8px;
  }
  p {
    line-height: 1.5rem;
  }
  .btn {
    width: 120px;
    text-align: center;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
  }
  input[type="checkbox"],
  input[type="radio"] {
    width: 20px;
    height: 20px;
    min-width: 20px;
    aspect-ratio: 1;
    border: calc(1em / 8) solid #020024;
    padding: calc(1em / 8);
    background: radial-gradient(farthest-side, #c8141e 94%, #0000) 50%/0 0
      no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(1em / 10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: 0.3s;
    margin-top: 2px;
  }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    border-color: #c8141e;
    background-size: 100% 100%;
  }
  input[type="checkbox"]:disabled,
  input[type="radio"]:disabled {
    background: linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
    opacity: 0.5;
    cursor: not-allowed;
  }

  @media print {
    input[type="checkbox"],
    input[type="radio"] {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      appearance: auto;
      background: none;
    }
  }
}
