.statistics-section {
  &__wrapper {
    margin-bottom: 36px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
    p {
      font-weight: 500;
    }
  }
  table {
    @include media-breakpoint-down(lg) {
      min-width: max-content;
      th,
      td,
      .player {
        @include media-breakpoint-down(lg) {
          width: auto !important;
        }
      }
    }
  }
  .dataTables_wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  &__descr {
    color: var(--color-primary);
    font-weight: 700;
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 20px;
  }
  table {
    margin-bottom: 0 !important;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
  }
  thead {
    background: rgba(#adadad, 0.2);
  }
  th {
    font-weight: 700;
    vertical-align: middle;
    padding: 16px 28px;
  }
  th.number {
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.3s;
    &:hover {
      text-decoration-color: transparent;
    }
  }
  .number {
    text-align: center !important;
    width: fit-content !important;
  }
  tbody tr {
    height: 54px;
    border-bottom: 1px solid #adadad;
  }
  table td {
    vertical-align: middle;
    font-weight: 500;
    padding-left: 28px !important;
    padding-right: 28px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    @include media-breakpoint-down(lg) {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }
  tr:last-child {
    border: none;
  }
  tr .number:last-child {
    padding-right: 20px !important;
    @include media-breakpoint-down(lg) {
      padding-right: 16px !important;
    }
  }
  .position {
    text-align: left;
    padding-left: 20px !important;
    padding-right: 8px !important;
    @include media-breakpoint-down(lg) {
      padding-left: 16px !important;
    }
  }
  .trinec td {
    background-color: var(--color-primary);
    color: var(--color-light);
  }
  .player {
    padding-left: 16px !important;
    padding-right: 28px !important;
    text-align: left;
    white-space: nowrap;
    width: 100%;

    img {
      display: inline-block;
      vertical-align: middle;
      height: 46px;
      object-fit: contain;
      margin-right: 8px;
      width: 46px;
    }
  }
}

.statistics-section__item + .statistics-section__item {
  margin-top: 48px;
  @include media-breakpoint-down(lg) {
    margin-top: 32px;
  }
}

.statistics-section__info {
  .boxSection + .boxSection {
    margin-top: 20px;
  }
  .title {
    margin-bottom: 28px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
  &-list {
    li {
      display: flex;
      font-size: 18px;
      line-height: 25px;
    }
    li + li {
      margin-top: 10px;
    }
    span {
      color: var(--color-primary);
      font-weight: 700;
      display: block;
      width: 40px;
      padding-right: 12px;
    }
  }
}
