<section class="statistics-section">
  <div class="container">
    <div class="boxSection statistics-section__wrapper">
      <div class="d-flex justify-content-between flex-wrap align-center">
        <h1 class="title">TIPSPORT EXTRALIGA 2023/24 - ZÁKLADNÍ ČÁST</h1>
        <div class="statistics-section__descr">
          Kliknutím na jednotlivá stat. čísla získáte podrobný přehled statistik
          v zápase
        </div>
      </div>

      <div class="statistics-section__item">
        <table class="tableSort">
          <thead>
            <tr>
              <th class="position">#</th>
              <th class="player">Brankáři</th>
              <th class="number"><a href="#">Z</a></th>
              <th class="number"><a href="#">MIN</a></th>
              <th class="number"><a href="#">STŘ</a></th>
              <th class="number"><a href="#">INK</a></th>
              <th class="number"><a href="#">ZÁS</a></th>
              <th class="number"><a href="#">PRŮ</a></th>
              <th class="number"><a href="#">ÚSP</a></th>
              <th class="number"><a href="#">SO</a></th>
              <th class="number"><a href="#">A</a></th>
              <th class="number"><a href="#">TM</a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="position">1</td>
              <td class="player">
                <img src="images/content/ava-1.png" alt="" />
                Mazanec Marek
              </td>
              <td class="number"><strong>29</strong></td>
              <td class="number">1688:07</td>
              <td class="number">803</td>
              <td class="number">62</td>
              <td class="number">741</td>
              <td class="number"><strong>2,21</strong></td>
              <td class="number"><strong>92,28</strong></td>
              <td class="number">1</td>
              <td class="number">1</td>
              <td class="number">5</td>
            </tr>
            <tr>
              <td class="position">1</td>
              <td class="player">
                <img src="images/content/ava-2.png" alt="" />
                Mazanec Marek
              </td>
              <td class="number"><strong>29</strong></td>
              <td class="number">1688:07</td>
              <td class="number">803</td>
              <td class="number">62</td>
              <td class="number">741</td>
              <td class="number"><strong>2,21</strong></td>
              <td class="number"><strong>92,28</strong></td>
              <td class="number">1</td>
              <td class="number">1</td>
              <td class="number">5</td>
            </tr>
            <tr>
              <td class="position">1</td>
              <td class="player">
                <img src="images/content/ava-3.png" alt="" />
                Mazanec Marek
              </td>
              <td class="number"><strong>29</strong></td>
              <td class="number">1688:07</td>
              <td class="number">803</td>
              <td class="number">62</td>
              <td class="number">741</td>
              <td class="number"><strong>2,21</strong></td>
              <td class="number"><strong>92,28</strong></td>
              <td class="number">1</td>
              <td class="number">1</td>
              <td class="number">5</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="statistics-section__item">
        <div class="o-content">
          <table class="tableSort">
            <thead>
              <tr>
                <th class="position">#</th>
                <th class="player">Hráči v poli</th>
                <th class="number"><a href="#">P</a></th>
                <th class="number"><a href="#">Z</a></th>
                <th class="number"><a href="#">G</a></th>
                <th class="number"><a href="#">A</a></th>
                <th class="number"><a href="#">B</a></th>
                <th class="number"><a href="#">SO</a></th>
                <th class="number"><a href="#">+/-</a></th>
                <th class="number"><a href="#">TM</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">4</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">34</td>
                <td class="number">32</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">12</td>
                <td class="number">+11</td>
                <td class="number">6</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">6</td>
                <td class="number">43</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">2</td>
                <td class="number">+11</td>
                <td class="number">15</td>
              </tr>
              <tr></tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">35</td>
                <td class="number">223</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">2</td>
                <td class="number">+13</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
              <tr>
                <td class="position">1</td>
                <td class="player">
                  <img src="images/content/ava-1.png" alt="" />
                  Mazanec Marek
                </td>
                <td class="number">0</td>
                <td class="number"><strong>43</strong></td>

                <td class="number">3</td>
                <td class="number">22</td>
                <td class="number"><strong>741</strong></td>
                <td class="number">1</td>
                <td class="number">+14</td>
                <td class="number">5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p class="mt-4">Statistiky vygenerovány: 31012024/ 22:12</p>
    </div>
    <div class="statistics-section__info">
      <div class="row g-4">
        <div class="col-lg-6">
          <div class="boxSection h-100">
            <h2 class="title">BRANKÁŘI</h2>
            <ul class="statistics-section__info-list">
              <li>
                <span>#</span>
                <p>
                  číslo dresu v posledním zápase (pro případ, že by se měnilo)
                </p>
              </li>
              <li>
                <span>Z</span>
                <p>počet zápasů, v nichž hráč nastoupil</p>
              </li>
              <li>
                <span>Min</span>
                <p>počet odchytaných minut</p>
              </li>
              <li>
                <span>Stř</span>
                <p>počet střel vyslaných na brankáře</p>
              </li>
              <li>
                <span>Ink</span>
                <p>počet inkasovaných gólů</p>
              </li>
              <li>
                <span>Zás</span>
                <p>počet zásahů</p>
              </li>
              <li>
                <span>Prů</span>
                <p>průměr gólů na zápas ( = inkasované góly / minuty/60 )</p>
              </li>
              <li>
                <span>Úsp</span>
                <p>úspěšnost zásahů ( = zásahy / střely )</p>
              </li>
              <li>
                <span>SO</span>
                <p>shut-outy, vychytané nuly</p>
              </li>
              <li>
                <span>A</span>
                <p>asistence</p>
              </li>
              <li>
                <span>TM</span>
                <p>trestné minuty</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="boxSection">
            <h3 class="title">HRÁČI V POLI</h3>
            <ul class="statistics-section__info-list">
              <li>
                <span>#</span>
                <p>
                  číslo dresu v posledním zápase (pro případ, že by se měnilo)
                </p>
              </li>
              <li>
                <span>Z</span>
                <p>počet zápasů, v nichž hráč nastoupil</p>
              </li>
              <li>
                <span>P</span>
                <p>post (obránce nebo útočník)</p>
              </li>
              <li>
                <span>G</span>
                <p>góly</p>
              </li>
              <li>
                <span>A</span>
                <p>asistence</p>
              </li>
              <li>
                <span>B</span>
                <p>body</p>
              </li>
            </ul>
          </div>
          <div class="boxSection">
            <h4 class="title">KONTAKT</h4>
            <p class="p1">
              Pokud budete mít ke statistikám jakékoliv připomínky nebo otázky,
              kontaktujte nás prosím na emailu: weby@esports.cz
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
