<section class="birthday-section mb-lg-5 mb-4">
  <div class="container">
    <div class="boxSection">
      <h1 class="title mb-lg-4 mb-3">NAROZENINY VE WERK ARENĚ</h1>
      <p class="p1">
        Dopřejte svým blízkým jedinečný zážitek a nezapomenutelnou narozeninovou
        párty, kterou vám pomůžeme zorganizovat. Přímo během vámi vybraného
        utkání necháme oslavenci na kostce pogratulovat od jeho oblíbeného hráče
        i Dráčka WERKÁČKA a vy budete u toho. V ceně 3 900 korun jsou vedle
        narozeninového přání od Oceláře zahrnuty také čtyři vstupenky na zápas a
        dort pro oslavence.
      </p>
      <div class="boxGray my-lg-5 my-4">
        <h2 class="title">V ceně 3 900 Kč je zahrnuto</h2>
        <div class="boxGray__list row">
          <div class="col-lg-6">
            <p>4 místa na vybraný zápas</p>
            <p>Dort pro oslavence</p>
          </div>
          <div class="col-lg-6">
            <p>Vyhlášení moderátorem</p>
            <p>Věnování od oblíbeného hráče a dráčka</p>
          </div>
        </div>
      </div>
      <p class="boxRadius mb-lg-5 mb-4">
        <img src="images/content/narozeniny/1.png" loading="lazy" alt="top" />
      </p>
      <a href="#contacts" class="btn btn-scroll btn-primary mx-auto"
        >Mám zájem</a
      >
    </div>
    <div class="boxSection">
      <h3 class="title mb-lg-4 mb-3">MASKOT DRÁČEK WERKÁČEK</h3>
      <p class="p1 mb-lg-4 mb-3">
        Už od roku 2006 patří k třineckému klubu taky jeho maskot DRÁČEK
        WERKÁČEK. Veselý drak, který si rád hraje a nezkazí žádnou legraci, rád
        tráví čas s dětmi a tropí s nimi hlouposti.
      </p>
      <p class="p1">
        Dráček se stal oblíbenou součástí domácích zápasů Ocelářů, během kterých
        přispívá k jedinečnému sportovnímu zážitku, stejně jako na doprovodných
        akcích klubu mimo sezonu. Našeho maskota Dráčka WERKÁČKA můžete vídat i
        mimo třineckou arénu. Rád totiž přijde i na vaši narozeninovou oslavu
        nebo jinou akci.
      </p>
      <div class="row g-lg-4 g-3 my-lg-5 my-4">
        <div class="col-lg-6">
          <div class="boxRadius">
            <img
              src="images/content/narozeniny/2.png"
              loading="lazy"
              alt="top"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="boxRadius">
            <img
              src="images/content/narozeniny/3.png"
              alt="top"
              loading="lazy"
            />
          </div>
        </div>
      </div>
      <a href="#contacts" class="btn btn-scroll btn-primary mx-auto"
        >Mám zájem</a
      >
    </div>
    <div class="boxSection">
      <h4 class="title mb-lg-4 mb-3">WERK ARENA TOUR</h4>
      <p class="p1 mb-lg-4 mb-3">
        Jste na návštěvě Třince? Prohlédněte si domácí halu Ocelářů Třinec od
        shora až dolů! Podíváte se do útrob jedné z nejmodernějších
        multifunkčních arén ve střední Evropě. Protože se jedná o nadstandardní
        službu, musíte se na prohlídku WERK ARENY dopředu objednat a zaplatit
        symbolický příspěvek na NADAČNÍ FOND OCELÁŘI.
      </p>
      <p class="p1">
        WERK ARENA Tour je primárně v českém jazyce. Lze lze udělat prohlídku v
        anglickém či polském jazyce, o tuto možnost je nutné požádat nejméně
        týden dopředu!
      </p>
      <div class="boxGray my-lg-5 my-4">
        <h5 class="title">Během prohlídky uvidíte</h5>
        <div class="boxGray__list row">
          <div class="col-lg-6">
            <p>VIP prostory arény (mimo GOLD VIP)</p>
            <p>Ice risk (box časomíry, střídačky, trestné lavice)</p>
            <p>Prostory kabiny A mužstva + posilovna</p>
          </div>
          <div class="col-lg-6">
            <p>Mix zóna</p>
            <p>Press centrum</p>
            <p>Délka prohlídky 30 minut</p>
          </div>
        </div>
        <h5 class="title mt-lg-5 mt-4">Termíny</h5>
        <div class="boxGray__list row">
          <div class="col-lg-6">
            <p>
              Ve všední dny vždy mimo zápasy (PO-ST-PÁ) pro skupinu nejméně 5
              lidí.
            </p>
            <p>Provádíme nanejvýše skupiny o 25 lidech.</p>
          </div>
          <div class="col-lg-6">
            <p>V čase od 12:00 do 16:00</p>
            <p>Vždy si zkontrolujte rozpis zápasů!</p>
          </div>
        </div>
        <h5 class="title mt-lg-5 mt-4">Cena</h5>
        <div class="boxGray__list row">
          <div class="col-lg-6">
            <p>100 Kč / osoba</p>
          </div>
          <div class="col-lg-6">
            <p>
              Děti základních škol mají vstup za poplatek 100 Kč za celou třídu
            </p>
          </div>
        </div>
      </div>

      <p class="boxRadius mb-lg-5 mb-4">
        <img src="images/content/narozeniny/5.png" loading="lazy" alt="top" />
      </p>
      <a href="#contacts" class="btn btn-scroll btn-primary mx-auto"
        >Mám zájem</a
      >
    </div>
    <div class="boxSection">
      <h3 class="title mb-lg-4 mb-3">TŘINECKÉ CHEERLEADERS</h3>
      <p class="p1">
        Součástí domácích zápasů třineckých Ocelářů jsou také cheerleaders z
        taneční skupiny Applaud Cheerleaders, které na tribunách WERK ARENY svým
        vystoupením pomáhají atmosféře hokejového zápasu a roznáškou nápojů
        přímo do hlediště se starají také o pohodlí a komfort našich fanoušků.
      </p>
      <div class="row mt-lg-5 mt-4 g-lg-4 g-3">
        <div class="col-12">
          <a
            href="#"
            class="birthday-section__photo"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              src="images/content/narozeniny/6.png"
              alt="top"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-lg-4 col-6">
          <a
            href="#"
            class="birthday-section__photo"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              src="images/content/narozeniny/7.png"
              alt="top"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-lg-4 col-6">
          <a
            href="#"
            class="birthday-section__photo"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              src="images/content/narozeniny/8.png"
              alt="top"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-lg-4 col-6">
          <a
            href="#"
            class="birthday-section__photo"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              src="images/content/narozeniny/9.png"
              alt="top"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-lg-4 col-6">
          <a
            href="#"
            class="birthday-section__photo"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              src="images/content/narozeniny/10.png"
              alt="top"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-lg-4 col-6">
          <a
            href="#"
            class="birthday-section__photo"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              src="images/content/narozeniny/11.png"
              alt="top"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-lg-4 col-6">
          <a
            href="#"
            class="birthday-section__photo"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <img
              src="images/content/narozeniny/12.png"
              alt="top"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="boxSection" id="contacts">
      <h5 class="title mb-lg-5 mb-4">Kontaktujte nás</h5>
      <div class="row g-lg-5 g-4">
        <div class="col-lg-6">
          <div class="utilizationTickets__contact">
            <div class="utilizationTickets__contact-img">
              <img src="images/content/linka.png" alt="" />
            </div>
            <div class="utilizationTickets__contact-info">
              <p>Ing. Petr Havran</p>
              <a href="tel:+420602637220">+420 602 637 220</a>
              <a href="mailto:peter.harvan@hcotrinec.cz"
                >peter.harvan@hcotrinec.cz</a
              >
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="utilizationTickets__contact">
            <div class="utilizationTickets__contact-img">
              <img src="images/content/linka.png" alt="" />
            </div>
            <div class="utilizationTickets__contact-info">
              <p>Ing. Tomáš Hudcovský</p>
              <a href="tel:+420602637220">+420 602 637 220</a>
              <a href="mailto:tomas.hudcovsky@hcotrinec.cz"
                >tomas.hudcovsky@hcotrinec.cz</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
