<section class="timeline-section">
  <div class="container">
    <section class="timeline-section">
      <div class="container">
        <div class="timeline">
          <div id="time-71" class="timeline__item clearfix timeline__left">
            <div class="timeline__date">2002</div>
            <div class="timeline__content">
              <div class="boxSection">
                <h1 class="title mb-lg-4 mb-3">Mistři extraligy dorostu</h1>
                <div class="o-content">
                  <p>
                    Suverénní jízda se zlatou tečkou na konec! Dorostenci
                    Ocelářů v sezoně 2001/2002 navázali na první místo po
                    dlouhodobé části parádní jízdou v play off a bez jediné
                    prohry pro Třinec vybojovali historicky první mládežnický
                    titul. Součástí mistrovského týmu trenéra Radomíra Kužílka
                    byl tehdy i pozdější útočník Bostonu Bruins David Krejčí.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="time-72" class="timeline__item clearfix timeline__right">
            <div class="timeline__date">2015</div>
            <div class="timeline__content">
              <div class="boxSection">
                <h1 class="title mb-lg-4 mb-3">
                  Mistři extraligy staršího dorostu
                </h1>
                <div class="o-content">
                  <p>
                    Pohádkovou sezonu prožil Třinec o třináct let později taky v
                    extralize staršího dorostu. Mladí Oceláři znovu kralovali
                    základní části i nadstavbě, ty nejlepší výkony si ale
                    schovali až do play off. Tým pod vedením trenéra Reného
                    Muchy ve vyřazovací části ztratil jediný zápas, úctyhodnou
                    sérií 346 minut bez inkasovaného gólu se blýskl gólman Jan
                    Hlaváč.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="time-73" class="timeline__item clearfix timeline__left">
            <div class="timeline__date">2016</div>
            <div class="timeline__content">
              <div class="boxSection">
                <h1 class="title mb-lg-4 mb-3">Mistři extraligy juniorů</h1>
                <div class="o-content">
                  <p>
                    K titulům z dorostenecké extraligy přidali Oceláři v roce
                    2016 premiérový triumf v juniorce! Postup na finálový turnaj
                    si svěřenci trenéra Václava Varadi vybojovali demolicí
                    Hradce 11:3 v rozhodujícím zápase čtvrtfinále, v
                    Litoměřicích si pro zlato doletěli bez jediného zaváhání. 33
                    body ve čtyřech utkáních ohromil útok Ondřej Kovařčík -
                    Michal Kovařčík - Lukáš Jašek.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="time-74" class="timeline__item clearfix timeline__right">
            <div class="timeline__date">2017</div>
            <div class="timeline__content">
              <div class="boxSection">
                <h1 class="title mb-lg-4 mb-3">Vicemistři extraligy juniorů</h1>
                <div class="o-content">
                  <p>
                    Ještě jeden úspěch pro partu kluků ročníků 1997 až 1999. V
                    základní části juniorské soutěže se tým pod vedením kouče
                    Vlastimila Wojnara pyšnil nejlepší obranou a s 92 body bral
                    první místo. V play off pak Oceláři bez větších potíží
                    prošli až do finále a získali stříbro.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="time-75" class="timeline__item clearfix timeline__left">
            <div class="timeline__date">2019</div>
            <div class="timeline__content">
              <div class="boxSection">
                <h1 class="title mb-lg-4 mb-3">Mistři extraligy juniorů</h1>
                <div class="o-content">
                  <p>
                    V roce 2019 se Oceláři vrátili na trůn pro vítěze juniorské
                    extraligy. Tým Jiřího Juříka a Marka Malíka si nejprve
                    úspěšně poradil se třemi fázemi dlouhodobé části a v play
                    off pak s jedinou prohrou vystoupal až na vrchol. Čtyřmi
                    góly se pod obrat z 0:2 na 5:3 v posledním zápase sezony
                    blýskl útočník Adam Raška.
                  </p>
                  <p>
                    <img
                      src="https://hcocelari.esports.cz/files/editor/Mistři 2019.jfif"
                      style="
                        width: 607px;
                        height: 374px;
                        display: block;
                        margin: auto;
                      "
                      width="607"
                      height="374"
                      alt=""
                    />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="time-76" class="timeline__item clearfix timeline__right">
            <div class="timeline__date">2023</div>
            <div class="timeline__content">
              <div class="boxSection">
                <h1 class="title mb-lg-4 mb-3">Mistři extraligy dorostu</h1>
                <div class="o-content">
                  <p>
                    Zlatým písmem bude v třinecké historii už navždy zapsán taky
                    11. duben 2023 a to díky parádní jízdě dorostu. V
                    rozhodujícím osmifinále otočili svěřenci trenéra Marka
                    Malíka zápas proti Jihlavě doslova v poslední minutě, od té
                    doby už prohráli pouze jediné utkání. A pro mistrovský titul
                    dokráčeli s osmi výhrami v řadě.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="time-77" class="timeline__item clearfix timeline__left">
            <div class="timeline__point"><span></span></div>
            <div class="timeline__content">
              <div class="boxSection">
                <h1 class="title mb-lg-4 mb-3">Vicemistři extraligy juniorů</h1>
                <div class="o-content">
                  <p>
                    Finále si v sezoně 2022/2023 zahráli taky třinečtí junioři,
                    v tomto případě měl duben pro Oceláře stříbrný konec. K
                    titulu vicemistra extraligy navíc přidal tým trenéra Reného
                    Muchy vítězství po základní části a to i díky vítězné šňůře
                    se 13 zápasy na přelomu roku, čímž stanovil nový mládežnický
                    rekord klubu.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="time-78" class="timeline__item clearfix timeline__right">
            <div class="timeline__date">2024</div>
            <div class="timeline__content">
              <div class="boxSection">
                <h1 class="title mb-lg-4 mb-3">Mistři extraligy juniorů</h1>
                <div class="o-content">
                  <p>
                    V roce 2024 už třinečtí junioři znovu slavili s mistrovským
                    pohárem nad hlavou. A to po pořádně bláznivé jízdě! V
                    semifinále otočili svěřenci kouče Reného Muchy sérii ze
                    stavu 0:2 na zápasy, stejný kousek pak vytáhli i proti Brnu.
                    A poslední utkání sezony? V něm Oceláře nerozhodilo ani
                    tříbrankové manko. Mistři obratů - mistři republiky!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="time-79" class="timeline__item clearfix timeline__left">
            <div class="timeline__point"><span></span></div>
            <div class="timeline__content">
              <div class="boxSection">
                <h1 class="title mb-lg-4 mb-3">
                  Další úspěchy třinecké mládeže
                </h1>
                <div class="o-content">
                  <p>
                    2001 - Vicemistři extraligy dorostu<br />2003 - Vicemistři
                    extraligy juniorů<br />2004 - Bronz z extraligy dorostu<br />2005
                    - Vicemistři extraligy dorostu<br />2006 - Vicemistři
                    extraligy juniorů<br />2009 - Vicemistři extraligy juniorů a
                    dorostu<br />2013 - Vicemistři extraligy staršího dorostu<br />2014
                    - Bronz z extraligy mladšího dorostu<br />2016 - Bronz z
                    extraligy staršího dorostu<br />2017 - Bronz ze Světového
                    poháru juniorů<br />2023 - Bronz z extraligy 9. tříd
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <div class="timeline">
      <div class="timeline__item" id="time-1929">
        <div class="timeline__date">1929</div>
        <div class="timeline__content">
          <div class="boxSection">
            <h1 class="title mb-lg-4 mb-3">POČÁTKY TŘINECKÉHO HOKEJE</h1>
            <div class="o-content">
              <p class="p1">
                Vznik našeho klubu se datuje do období, kdy československá
                reprezentace začala dosahovat svých prvních úspěchů. Právě v
                roce jeho založení – 1929, si reprezentace vybojovala na již 14.
                kontinentálním šampionátu titul mistra Evropy. Lední hokej se
                však v tomto období na Ostravsku začal hlásit ke slovu jen
                pozvolna. Jeho prvním průkopníkem se stal v roce 1928 SK
                Moravská Ostrava, jehož příkladu brzy následoval SK Slovan
                Ostrava. Na Těšínsku to byly KČST Lazy a o rok později – v již
                zmíněném roce 1929, také SK Třinec. U jeho kolébky tehdy stála
                jen hrstka obětavců, kteří museli často překonávat posměch a
                někdy i urážky okolí. O nový společenský sport nebyl velký
                zájem, poznatků o něm málo, kontakt s vyspělejšími českými kluby
                v prvopočátcích neexistoval, a tak se úmysl zakládat hokejový
                klub zdál mnohým čirým nesmyslem. Ve velmi krátké době se však
                kanadský hokej, jak se mu tehdy říkalo, stal druhým
                nejpopulárnějším československým sportem a své pevné kořeny
                zapustil i v městečku pod malebnými Beskydy. Nejvíce se o to
                zasloužil známý redaktor, věhlasný sportovní nadšenec a
                organizátor Boleslav Moravec, jenž kolem sebe soustředil partu
                mladíků se zápalem pro novou kolektivní hru a ti se pak stali
                základem prvního mužstva SK Třinec.
              </p>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/R27ipS5zCu4?si=Z2wB6di5SEYBv7zs"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="t timeline__item timeline__line">
        <div class="timeline__point"><span></span></div>
        <div class="timeline__content">
          <div class="boxSection">
            <h2 class="title mb-lg-4 mb-3">OBDOBÍ PO DRUHÉ SVĚTOVÉ VÁLCE</h2>
            <div class="o-content">
              <p class="p1">
                První sezóna po osvobození nebyla snadná – scházela výstroj,
                chyběli hráči. Město žilo starostmi o obnovu předokupačních
                pořádků a sportovní život se vracel do svých kolejí jen velmi
                pomalu. V čele hokejového oddílu stanul první předseda Karel
                Dziadek spolu s funkcionáři Janem Babišem, Janem Kiwalskim a
                Josefem Zientkem. Byla vybudována dvě hokejová hřiště s
                přírodním ledem a tréninku mladých hráčů se chopil dosud
                nedoceněný Evžen Cienciala, jemuž se podařilo vypiplat nejednoho
                platného hráče. Mužstvo z většiny tvořili hráči předválečného
                celku, tedy ti, kdo mohli pokračovat: brankáři Karel Namyslo a
                Josef Hudeček, obránci Ruda Polok zvaný „Ezi“, Karel Cieslar,
                Ludvík Mitrenga, Karel Michalík a útočníci Pavel Sýkora, bratři
                Karel a Bedřich Ciencialové a mladičký Mirek Váňa, nejlepší
                třinecký hokejista poválečných let. Okupace a dlouhá přestávka
                pochopitelně poznamenaly výkonnost mužstva a úspěchem bylo už
                jen to, že se tým dal v tak brzké době dohromady.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline__item" id="time-1970">
        <div class="timeline__date">70‘</div>
        <div class="timeline__content">
          <div class="boxSection">
            <h2 class="title mb-lg-4 mb-3">70. LÉTA VE ZNAMENÍ DRUHÉ LIGY</h2>
            <div class="o-content">
              <p class="p1">
                Teprve otevřením zimního stadionu 17. února 1967 byly po
                chudobných letech vytvořeny podmínky pro vzestup třineckého
                hokeje. V roce 1976 byl stadion definitivně zastřešen ocelovou
                konstrukcí, kterou vyrobili pracovníci mechanických dílen TŽ s
                tím, že údajně přežije celých 500 let. Samotná střecha ovšem
                diváky nechránila před třeskutým zimním větrem, jenž proudil
                dovnitř z bočních stran, a tak bylo zapotřebí se na každý zápas
                vždy řádně navléci do několika svetrů a ze všech sil se snažit
                nepřimrznout k lavici. Na hokej tedy v té době mohl chodit
                opravdu jen nefalšovaný fanda a přívrženec ledových
                dobrodružství. Přesto byl zimák velice často naplněn a o
                obecenstvo v Třinci nikdy nebyla nouze. I když se netrpělivě
                čekalo na dokončení boční výstavby, hala dnešní podoby vznikla
                na Lesní ulici až o třináct let později.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="t timeline__item timeline__line" id="time-1980">
        <div class="timeline__date">80‘</div>
        <div class="timeline__content">
          <div class="boxSection">
            <h2 class="title mb-lg-4 mb-3">
              80. LÉTA – NÁSTUP TRADIČNÍ OFENZIVNÍ SÍLY
            </h2>
            <div class="o-content">
              <p class="p1">
                Třineckým byl od začátku bližší útočný styl hokeje, který
                praktikují dodnes. V týmu vždy působili technicky zdatní hráči,
                kteří věděli, co s pukem, a byly to rychlé kombinační akce,
                které Třinci získaly oblibu i u fanoušků soupeře. V sezóně
                1984/85 se na třinecké střídačce poprvé objevil mladý absolvent
                tělovýchovné fakulty Alois Hadamczik, jenž měl později sehrát
                významnou úlohu při velkých úspěších klubu pod Javorovým.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline__item" id="time-1990">
        <div class="timeline__date">90‘</div>

        <div class="timeline__content">
          <div class="boxSection">
            <h2 class="title mb-lg-4 mb-3">90. LÉTA - POSTUP DO EXTRALIGY</h2>
            <div class="o-content">
              <p class="p1">
                Do sezóny 1994/95 vstupovali Třinečtí i s novým trenérem. Tím se
                stal po odchodu Břetislava Kopřivy Karel Suchánek, který již
                předtím v Třinci působil jako asistent trenéra Aloise Hadamczika
                a v předchozím ročníku vedl Opavu. Jeho asistentem se stal
                bývalý útočník Aleš Mach.
              </p>
              <p class="p1">
                Historickou změnou, která v Třinci nastala, bylo odtrhnutí
                ledního hokeje od tělovýchovné jednoty a založení
                profesionálního klubu HC Železárny Třinec – stalo se tak 1.
                července 1994. Ve výkonném výboru byl do funkce generálního
                manažera jmenován bývalý tajemník TJ TŽ Ivan Vodička,
                prezidentem klubu byl zvolen Otmar Macura. Členy výkonného
                výboru dále byli Miroslav Bednarz, Jan Opletal, Karel Wojnar,
                Otmar Raszka a Eduard Machaczek. Nově vytvořený profesionální
                klub vedl sedmičlenný výbor.
              </p>
              <p class="p1">
                Extraligovou příslušnost si Třinec zajistil po výhře 3:0 v sérii
                s Jindřichovým Hradcem. Uveďme, kteří hráči vybojovali na
                jihočeském ledě postup: brankáři Michal Hlinka a Josef Lucák;
                obránci Karel Pavlík, Milan Murín – Antonín Plánovský, Miroslav
                Číhal – Roman Šindel, Petr Pavlas; útočníci Jiří Novotný, Martin
                Palinek, Vladimír Michálek – Petr Zajonc, Dalibor Římský, Roman
                Kaděra – Dušan Adamčík, Michal Piskoř, Viktor Ujčík – Josef
                Duchoslav, Jevgenij Alipov, Aleš Badal. Nesmíme však zapomenout,
                že o postup se přičinili i ostatní, kteří se do sestavy
                rozhodujícího utkání nevešli nebo nemohli hrát: Václav Slabý,
                Josef Marha, Igor Mozgalev, Jan Hušek, Roman Hromada, Dalibor
                Sochorek, Libor Zátopek, Stanislav Kacíř, ale i vsetínští
                Miroslav Barus, Jan Srdínko a Libor Forch, kteří pomáhali v
                zápasech základní části. Od podzimu roku 1995 se tedy začínají
                na třinecký led sjíždět nejlepší česká hokejová mužstva.
              </p>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/R27ipS5zCu4?si=Z2wB6di5SEYBv7zs"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="t timeline__item timeline__line">
        <div class="timeline__point"><span></span></div>
        <div class="timeline__content">
          <div class="boxSection">
            <h2 class="title mb-lg-4 mb-3">
              OCELÁŘI V EXTRALIZE A PRVNÍ TITUL
            </h2>
            <div class="o-content">
              <p class="p1">
                Prioritním cílem pro úvodní sezonu mezi extraligovou smetánkou
                bylo udržet se. Vedení klubu se tuto metu podařilo zrealizovat,
                a to rovněž díky vhodnému doplnění kádru nováčka. Hned od
                začátku byli výraznými ofenzivním tahouny v týmu pod vedením
                Aloise Hadamczika například Richard Král či Marek Zadina,
                stabilní výkony podával rovněž Jozef Daňo. Defenzivní muziku pak
                tvrdil Ľubomír Sekeráš. Premiérový ročník skončil dvanáctým
                místem po základní části, ve čtvrtfinále pak Třinečtí nestačili
                na zlínské Berany. Přesto ale byla první extraligová sezona
                hodnocena převážně velice kladně.
              </p>
              <p class="p1">
                HC Železárny si postupem času vybudovaly nezbytný respekt
                extraligové konkurence. Jasným důkazem byla hned třetí sezona
                (1997/98) v nejvyšší soutěži. Po základní části figurovali
                Hadamczikovi svěřenci na třetím místě a bylo jasné, že se
                Slezany se musí reálně počítat. Ve čtvrtfinále Třinec v napínavé
                sérií přetlačil Slavii 3:2 na zápasy, v památném semifinále
                stejným výsledkem ukončil sezonu i regionálnímu rivalovi z
                Vítkovic. Teprve ve finále HC Železárny nestačily na
                dominantního hegemona ze Vsetína, kterému Třinečtí podlehli 0:3
                na zápasy. Navzdory tomu však byla vicemistrovská sezona
                průlomová a všeobecně se tvrdilo, že tohle stříbro mělo de facto
                cenu zlata.
              </p>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/R27ipS5zCu4?si=Z2wB6di5SEYBv7zs"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
              <p class="p1">
                Také na konci milénia bylo zřejmé, že Třinec si na extraligové
                mapě získal stabilní místo a definitivně se etabloval do úzké
                špičky. V ročníku 1998/99 se povedlo získat bronzové medaile. Od
                sezony 1999/00 klub oficiálně změnil název na HC Oceláři Třinec.
                Do kanadsko-americké NHL z Třince odcházeli první hráči, ať už
                legendární obránce Ľubomír Sekeráš, nebo talentovaný český
                útočník Martin Havlát. Další roky sice byly výsledkově poněkud
                skromnější, za hlavní plus je ale považována výrazná ekonomická
                stabilizace klubu zpod Javorového. Zásluhu na tom měli především
                prezident klubu Ján Moder, viceprezident Jan Czudek a také
                výkonný ředitel Marek Chmiel. Důležitým faktorem, který vedl k
                úspěšným výsledkům, byl ovšem také trenér Pavel Marek. Právě on
                byl spolu s Břetislavem Kopřivou u historicky prvního titulu v
                dubnu roku 2011. Oceláři v play off postupně vyřadili Litvínov
                4:2, Slavii 4:3, a ve finále si poradili s Vítkovicemi 4:1. Z
                pozice kapitána dovedl tým ke zlatém triumfu Radek Bonk.
              </p>
              <p class="p1">
                Jeho dres s číslem čtrnáct, spolu s dalšími: Richard Král (91),
                Ľubomír Sekeráš (77) a Jan Peterek (11) byly u příležitosti
                oslav devadesáti let od založení klubu vyvěšeny pod strop arény
                a navždy vyřazeny z používání.
              </p>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/R27ipS5zCu4?si=Z2wB6di5SEYBv7zs"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline__item" id="time-2014">
        <div class="timeline__date">2014</div>
        <div class="timeline__content">
          <div class="boxSection">
            <h2 class="title mb-lg-4 mb-3">STAVBA NOVÉ WERK ARENY</h2>
            <div class="o-content">
              <p class="p1">
                Novou a zcela zásadní kapitolou v dějinách klubu bylo stěhování
                do zbrusu nové, multifunkční WERK ARENY na Frýdecké ulici. Právě
                tam vznikl areál, který se stal architektonickou chloubou celého
                regionu. Stalo se tak v létě roku 2014. Hned během premiérové
                sezony v nových prostorech se Ocelářům podařilo probojovat až do
                finále play off, kde ale třinecká parta okolo hlavního trenéra
                Jiřího Kalouse a asistenta Václava Varadi podlehla v sedmi
                zápasech Litvínovu. Také v příštích letech ovšem Oceláři
                potvrzovali příslušnost k absolutní republikové špičce. Další
                finále si zahráli na jaře 2018, kdy ale v souboji o zlato
                nestačili na Kometu Brno. Důležitým aspektem v kontextu dalšího
                směřování organizace byly jednoznačně podpisy spolupráce s
                trenérem Václavem Varaďou a asistentem Markem Zadinou na jaře
                2017. Velkou zásluhu na zahájení úspěšné éry má bezesporu i
                sportovní ředitel a legenda třineckého hokeje Jan Peterek.
              </p>
              <p class="p1">
                Oceláři navázali spolupráci s partnerským klubem ve
                Frýdku-Místku, díky kterému se do okresního města vrátil
                profesionální hokej a druhá nejvyšší soutěž. Z partnerského
                klubu si po tzv. Ocelářské cestě nakonec našli cestu do Tipsport
                extraligy také kluboví odchovanci, například bratři Ondřej a
                Michal Kovařčíkové, David Cienciala, Marian Adámek nebo Jan
                Hladonik. Výraznou oporou pro další generace tohoto regionu pak
                byla stavba Mini WERK ARENY, tréninkové haly, která se stala
                součástí komplexu hlavní arény. A nabízí také další možnosti
                pronájmu ledu také pro veřejnost a hobby hokejisty.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline__item clearfix" id="time-2019">
        <div class="timeline__date">
          2019 <br />
          2022
        </div>
        <div class="timeline__content">
          <div class="boxSection">
            <h2 class="title mb-lg-4 mb-3">MISTROVSKÝ HATTRICK</h2>
            <div class="o-content">
              <p class="p1">
                Právě za působení Jana Peterka a Václava Varadi ve sportovním
                vedení organizace Oceláři velkolepě nastartovali zlaté období a
                získali si hluboký respekt tuzemské hokejové veřejnosti. Nejprve
                se tak stalo v sezoně 2018/19, kdy třinecký kolektiv ve finále
                play off porazil všeobecně favorizovaný Liberec 4:2 na zápasy, a
                poprvé pozvedl nad hlavy Masarykův pohár. V sezoně 2019/20 se
                vyřazovací část vinou globální pandemie koronaviru neodehrála,
                ale Oceláři ovládli hned následující extraligový ročník. V rámci
                další finálové série proti Bílým Tygrům z Liberce tentokrát na
                konci dubna 2021 třinecký tým zvítězil 4:1 na zápasy a podařilo
                se mu obhájit mistrovský titul.
              </p>
              <p class="p1">
                Naprostou dominanci tohoto týmu pak korunovala sezona 2021/22,
                kdy Oceláři po základní části sice obsadili druhé místo, ale v
                následujícím play off byli znovu naprosto dominantní.
                Čtvrtfinále proti Vítkovicím a semifinále s Mladou Boleslaví
                zvládli suverénně bez jediné porážky a ve finále dokázali
                přehrát také hvězdami nabitý tým Sparty. Oceláři finále ovládli
                4:2 na zápasy a Masarykův pohár přebírali na ledě vyprodané O2
                areny. Vůbec poprvé v Praze. Třinec se stal po Vsetínu teprve
                druhým týmem v historii samostatné české extraligy, který
                dokázal nejvyšší českou soutěž ovládnout ve třech kompletních
                sezonách za sebou. A definitivně se tak zařadil mezi
                nejúspěšnější hokejové kluby v České republice.
              </p>
              <p class="p1">
                Oceláři ovšem nejsou úspěšní pouze na domácí extraligové scéně.
                Českému klubovému hokeji totiž dělají dobrou reklamu rovněž na
                mezinárodním poli. V rámci Champions Hockey League dosáhli na
                největší úspěch v sezoně 2017/18. Tehdy v dramatickém semifinále
                až po nájezdech padli s pozdějším vítězem, finským týmem JYP
                Jyväskylä. Významným úspěchem byla rovněž stříbrná medaile z
                nejstaršího a nejslavnějšího klubového turnaje světa ve
                švýcarském Davosu. Na prestižním Spengler Cupu v prosinci 2019
                Oceláři postupně vyřadili domácí Davos, ruskou Ufu, švýcarskou
                Ambri-Piottu, a padli teprve ve finále s vysoce favorizovaným
                týmem Kanady.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
