<section class="timeline-section">
  <div class="container">
    <div class="timeline">
      <div id="time-71" class="timeline__item clearfix timeline__left">
        <div class="timeline__date">2002</div>
        <div class="timeline__content">
          <div class="boxSection">
            <h1 class="title mb-lg-4 mb-3">Mistři extraligy dorostu</h1>
            <div class="o-content">
              <p>
                Suverénní jízda se zlatou tečkou na konec! Dorostenci Ocelářů v
                sezoně 2001/2002 navázali na první místo po dlouhodobé části
                parádní jízdou v play off a bez jediné prohry pro Třinec
                vybojovali historicky první mládežnický titul. Součástí
                mistrovského týmu trenéra Radomíra Kužílka byl tehdy i pozdější
                útočník Bostonu Bruins David Krejčí.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="time-72" class="timeline__item clearfix timeline__right">
        <div class="timeline__date">2015</div>
        <div class="timeline__content">
          <div class="boxSection">
            <h1 class="title mb-lg-4 mb-3">
              Mistři extraligy staršího dorostu
            </h1>
            <div class="o-content">
              <p>
                Pohádkovou sezonu prožil Třinec o třináct let později taky v
                extralize staršího dorostu. Mladí Oceláři znovu kralovali
                základní části i nadstavbě, ty nejlepší výkony si ale schovali
                až do play off. Tým pod vedením trenéra Reného Muchy ve
                vyřazovací části ztratil jediný zápas, úctyhodnou sérií 346
                minut bez inkasovaného gólu se blýskl gólman Jan Hlaváč.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="time-73" class="timeline__item clearfix timeline__left">
        <div class="timeline__date">2016</div>
        <div class="timeline__content">
          <div class="boxSection">
            <h1 class="title mb-lg-4 mb-3">Mistři extraligy juniorů</h1>
            <div class="o-content">
              <p>
                K titulům z dorostenecké extraligy přidali Oceláři v roce 2016
                premiérový triumf v juniorce! Postup na finálový turnaj si
                svěřenci trenéra Václava Varadi vybojovali demolicí Hradce 11:3
                v rozhodujícím zápase čtvrtfinále, v Litoměřicích si pro zlato
                doletěli bez jediného zaváhání. 33 body ve čtyřech utkáních
                ohromil útok Ondřej Kovařčík - Michal Kovařčík - Lukáš Jašek.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="time-74" class="timeline__item clearfix timeline__right">
        <div class="timeline__date">2017</div>
        <div class="timeline__content">
          <div class="boxSection">
            <h1 class="title mb-lg-4 mb-3">Vicemistři extraligy juniorů</h1>
            <div class="o-content">
              <p>
                Ještě jeden úspěch pro partu kluků ročníků 1997 až 1999. V
                základní části juniorské soutěže se tým pod vedením kouče
                Vlastimila Wojnara pyšnil nejlepší obranou a s 92 body bral
                první místo. V play off pak Oceláři bez větších potíží prošli až
                do finále a získali stříbro.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="time-75" class="timeline__item clearfix timeline__left">
        <div class="timeline__date">2019</div>
        <div class="timeline__content">
          <div class="boxSection">
            <h1 class="title mb-lg-4 mb-3">Mistři extraligy juniorů</h1>
            <div class="o-content">
              <p>
                V roce 2019 se Oceláři vrátili na trůn pro vítěze juniorské
                extraligy. Tým Jiřího Juříka a Marka Malíka si nejprve úspěšně
                poradil se třemi fázemi dlouhodobé části a v play off pak s
                jedinou prohrou vystoupal až na vrchol. Čtyřmi góly se pod obrat
                z 0:2 na 5:3 v posledním zápase sezony blýskl útočník Adam
                Raška.
              </p>
              <p>
                <img
                  src="https://hcocelari.esports.cz/files/editor/Mistři 2019.jfif"
                  style="
                    width: 607px;
                    height: 374px;
                    display: block;
                    margin: auto;
                  "
                  width="607"
                  height="374"
                  alt=""
                />
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="time-76" class="timeline__item clearfix timeline__right">
        <div class="timeline__date">2019-24</div>
        <div class="timeline__content">
          <div class="boxSection">
            <h1 class="title mb-lg-4 mb-3">Mistři extraligy dorostu</h1>
            <div class="o-content">
              <p>
                Zlatým písmem bude v třinecké historii už navždy zapsán taky 11.
                duben 2023 a to díky parádní jízdě dorostu. V rozhodujícím
                osmifinále otočili svěřenci trenéra Marka Malíka zápas proti
                Jihlavě doslova v poslední minutě, od té doby už prohráli pouze
                jediné utkání. A pro mistrovský titul dokráčeli s osmi výhrami v
                řadě.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="time-77" class="timeline__item clearfix timeline__left">
        <div class="timeline__point"><span></span></div>
        <div class="timeline__content">
          <div class="boxSection">
            <h1 class="title mb-lg-4 mb-3">Vicemistři extraligy juniorů</h1>
            <div class="o-content">
              <p>
                Finále si v sezoně 2022/2023 zahráli taky třinečtí junioři, v
                tomto případě měl duben pro Oceláře stříbrný konec. K titulu
                vicemistra extraligy navíc přidal tým trenéra Reného Muchy
                vítězství po základní části a to i díky vítězné šňůře se 13
                zápasy na přelomu roku, čímž stanovil nový mládežnický rekord
                klubu.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="time-78" class="timeline__item clearfix timeline__right">
        <div class="timeline__date">2024</div>
        <div class="timeline__content">
          <div class="boxSection">
            <h1 class="title mb-lg-4 mb-3">Mistři extraligy juniorů</h1>
            <div class="o-content">
              <p>
                V roce 2024 už třinečtí junioři znovu slavili s mistrovským
                pohárem nad hlavou. A to po pořádně bláznivé jízdě! V semifinále
                otočili svěřenci kouče Reného Muchy sérii ze stavu 0:2 na
                zápasy, stejný kousek pak vytáhli i proti Brnu. A poslední
                utkání sezony? V něm Oceláře nerozhodilo ani tříbrankové manko.
                Mistři obratů - mistři republiky!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="time-79" class="timeline__item clearfix timeline__left">
        <div class="timeline__point"><span></span></div>
        <div class="timeline__content">
          <div class="boxSection">
            <h1 class="title mb-lg-4 mb-3">Další úspěchy třinecké mládeže</h1>
            <div class="o-content">
              <p>
                2001 - Vicemistři extraligy dorostu<br />2003 - Vicemistři
                extraligy juniorů<br />2004 - Bronz z extraligy dorostu<br />2005
                - Vicemistři extraligy dorostu<br />2006 - Vicemistři extraligy
                juniorů<br />2009 - Vicemistři extraligy juniorů a dorostu<br />2013
                - Vicemistři extraligy staršího dorostu<br />2014 - Bronz z
                extraligy mladšího dorostu<br />2016 - Bronz z extraligy
                staršího dorostu<br />2017 - Bronz ze Světového poháru
                juniorů<br />2023 - Bronz z extraligy 9. tříd
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
