<section class="webApplication">
  <div class="container">
    <div class="boxRadius boxShadow webApplication__box">
      <div class="webApplication__row">
        <div class="webApplication__content">
          <h1 class="title mb-lg-4 mb-3">OCELÁŘSKÁ APLIKACE</h1>
          <p class="p1 mb-lg-4 mb-3">
            Buďte blíž svému oblíbenému klubu! Řeč je o mobilní aplikaci HC
            Oceláři Třinec, jejíž zásluhou budete moci chodit na hokej pouze se
            svým mobilním telefonem anebo na dálku - snadno a rychle - můžete
            půjčit svou permanentku kamarádovi, pokud se nebudete moci zúčastnit
            zápasu, anebo ji můžete uvolnit na konkrétní utkání rovnou do
            prodeje.
          </p>
          <p class="p1 mb-lg-5 mb-4">
            Aplikace HC Oceláři Třinec je zdarma! Stáhnout si ji můžete na
            Google Play (pro telefony využívající operační systém Android) anebo
            přes App Store (v případě telefonů využívajících operační systém
            iOS).
          </p>
          <div class="webApplication__links">
            <a target="_blank" href="#" class="webApplication__link">
              <img
                src="images/content/application/6.png"
                loading="lazy"
                alt="app"
              />
            </a>
            <a href="#" target="_blank" class="webApplication__link">
              <img
                src="images/content/application/7.png"
                loading="lazy"
                alt="app"
              />
            </a>
          </div>
        </div>
        <div class="webApplication__img">
          <img
            src="images/content/application/1.png"
            loading="lazy"
            alt="app"
          />
        </div>
      </div>
    </div>
    <div class="boxRadius boxShadow webApplication__box">
      <div class="webApplication__row">
        <div class="webApplication__content">
          <div class="o-content">
            <h2 class="title mb-lg-4 mb-3">
              Jak jít na zápas pouze s mobilem?
            </h2>
            <ul class="mb-5">
              <li>
                Po stažení je nutné provést registraci - zadat e-mail a heslo
              </li>
              <li>
                Do uvedené emailové schránky vám přijde aktivační email, který
                jedním kliknutím potvrdíte
              </li>
            </ul>
            <h3 class="title mb-lg-4 mb-3">
              spárovÁNÍ permanentky s mobilní aplikací
            </h3>
            <ul>
              <li>
                Na pokladnách WERK ARENY si v den domácích extraligových utkání
                Ocelářů vyzvedněte vytištěný unikátní QR kód
              </li>
              <li>Načtěte QR kód skrz aplikaci do Vašeho mobilního telefonu</li>
              <li>
                Následně při vstupu do haly už stačí pouze ukázat nahranou
                permanentku v aplikaci
              </li>
            </ul>
          </div>
        </div>
        <div class="webApplication__img">
          <img
            src="images/content/application/2.png"
            loading="lazy"
            alt="app"
          />
        </div>
      </div>
    </div>
    <div class="boxSection webApplication__box">
      <h4 class="title mb-lg-4 mb-3">Vchody pro vstup s QR kódem</h4>
      <p class="p1 mb-lg-4 mb-3">
        Pro uživatele mobilní aplikace, kteří chtějí využívat při vstupu do WERK
        ARENY svůj QR kód načtený v mobilní aplikaci, jsou určeny tyto vchody:
      </p>
      <div class="o-content">
        <ul>
          <li>Vstup diváci hala 10, 11, 12</li>
          <li>Vstup diváci hala 1, 2, 3</li>
        </ul>
      </div>
      <div class="row g-lg-4 g-3 mt-4">
        <div class="col-md-6">
          <div class="boxRadius">
            <img
              src="images/content/application/10.png"
              loading="lazy"
              alt="top"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="boxRadius">
            <img
              src="images/content/application/11.png"
              alt="top"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="webApplication__box boxSection">
      <h5 class="title mb-lg-4 mb-3">
        CO UMÍ MOBILNÍ APLIKACE HC OCELÁŘI TŘINEC?
      </h5>
      <div class="webApplication__row bg-gray mb-5 boxRadius">
        <div class="webApplication__content">
          <h6 class="title mb-lg-4 mb-3">AKTUALITY</h6>
          <div class="o-content">
            <ul>
              <li>v této sekci najdete články převzaté z klubového webu</li>
            </ul>
          </div>
        </div>
        <div class="webApplication__img">
          <img
            src="images/content/application/3.png"
            loading="lazy"
            alt="app"
          />
        </div>
      </div>
      <div class="webApplication__row bg-gray mb-5 boxRadius">
        <div class="webApplication__content">
          <h6 class="title mb-lg-4 mb-3">Permanentka</h6>
          <div class="o-content">
            <ul>
              <li>
                Nemůžete se některého zápasu zúčastnit? Pošlete elektronicky
                svou permanentku kamarádovi, který půjde na hokej místo Vás!
              </li>
              <li>
                Funguje to jednoduše, stačí pár kliků. V sekci „Permanentka“
                označte utkání, na které nemůžete přijít, zadejte mailovou
                adresu svého kamaráda a klikněte na „odeslat“.
              </li>
              <li>
                Vám se permanentka na vybrané střetnutí zablokuje a kamarádovi
                na zadanou mailovou adresu přijde elektronická vstupenka.
              </li>
              <li>
                Pro vstup do haly pak stačí vašemu kamarádovi, když jedinečný QR
                kód obdržený v mailu ukáže ostraze WERK ARENY skrze svůj telefon
                anebo ve vytištěné, tedy fyzické formě.
              </li>
              <li>
                Nemůžete se některého zápasu zúčastnit a nemáte komu půjčit svou
                permanentku?
              </li>
              <li>
                Vaše sedadlo, to platí i v případě stání, můžete poskytnout do
                volného prodeje.
              </li>
              <li>
                Pokud se vstupenka uvolněná do prodeje skutečně prodá, tak
                příslušná částka bude majiteli permanentky připsána automaticky
                tři hodiny po skončení konkrétního zápasu při koupi dalších
                vstupenek, příp. permanentky na novou sezonu.
              </li>
            </ul>
          </div>
        </div>
        <div class="webApplication__img">
          <img
            src="images/content/application/4.png"
            loading="lazy"
            alt="app"
          />
        </div>
      </div>
      <div class="webApplication__row bg-gray mb-4 boxRadius">
        <div class="webApplication__content">
          <h6 class="title mb-lg-4 mb-3">Vstupenky</h6>
          <div class="o-content mb-5">
            <ul>
              <li>
                Skrze mobilní aplikaci HC Oceláři Třinec si můžete naprosto
                jednoduše také pořídit vstupenky na hokej.
              </li>
              <li>
                V sekci vstupenky si vyberte zápas, na který chcete vyrazit.
              </li>
              <li>
                Po rozkliknutí konkrétního utkání vám aplikace okamžitě zobrazí
                všechna volná místa v jednotlivých sektorech.
              </li>
              <li>
                Chcete vyrazit na hokej s partou přátel a sdílet společné
                zážitky? Systém automaticky a intuitivně nabídne uživatelům
                místa co možná nejblíže vedle sebe!
              </li>
            </ul>
          </div>
          <h6 class="title mb-lg-4 mb-3">Jak vstupenky zaplatit</h6>
          <div class="o-content">
            <ul>
              <li>
                Vstupenky uhradíte z předem nabitého kreditu (1 kredit = 1 Kč).
              </li>
              <li>
                Peněžní kredit se dobíjí skrze platební bránu v prostředí
                mobilní aplikace.
              </li>
              <li>
                Systém je stejný, jako když nakupujete přes internet (platba
                platební kartou, bankovním převodem, anebo GoPay účtem).
              </li>
            </ul>
          </div>
        </div>
        <div class="webApplication__img">
          <img
            src="images/content/application/5.png"
            loading="lazy"
            alt="app"
          />
        </div>
      </div>
      <p class="p1">
        V budoucnu počítáme s rozšířením funkcí a o všech novinkách vás budeme
        včas informovat
      </p>
    </div>
  </div>
</section>
