.webApplication {
  .boxRadius {
    position: relative;
    z-index: 2;
  }
  &__box {
    margin-bottom: 36px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
  &__img {
    width: 380px;
    max-width: 380px;
    height: auto;
    width: 100%;
    min-width: 300px;
    @include media-breakpoint-down(md) {
      margin: 0 auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__content {
    padding: 32px 40px;
    @include media-breakpoint-down(lg) {
      padding: 24px;
    }
    .o-content {
      li + li {
        margin-top: 8px;
      }
      ul {
        margin-top: 0;
        @include media-breakpoint-down(lg) {
          margin-top: 24px;
        }
      }
    }
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 60px;
  }
  &__link {
    max-width: 200px;
    display: block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .boxGray .webApplication__content {
    padding: 0;
  }
}
