<ul class="social">
  <li class="social__item">
    <a target="_blank" class="social__link social__link--whatsapp" href="#">
      {% include "@images/whatsapp.svg" %}
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/fb.svg" %}
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/insta.svg" %}
    </a>
  </li>
  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="24.292"
        height="17"
        viewBox="0 0 24.292 17"
      >
        <defs>
          <clipPath id="clip-path">
            <rect
              id="Rectangle_28"
              data-name="Rectangle 28"
              width="24.292"
              height="17"
              fill="#5d5d5d"
            />
          </clipPath>
        </defs>
        <g id="Group_48" data-name="Group 48" clip-path="url(#clip-path)">
          <path
            id="Path_57"
            data-name="Path 57"
            d="M24.107,3.3A3.124,3.124,0,0,0,20.992.184S14.358,0,12.146,0,3.3.184,3.3.184A3.124,3.124,0,0,0,.185,3.3S0,7.2,0,8.5s.185,5.2.185,5.2A3.124,3.124,0,0,0,3.3,16.814S9.934,17,12.146,17s8.846-.185,8.846-.185A3.124,3.124,0,0,0,24.107,13.7s.185-3.895.185-5.2-.185-5.2-.185-5.2M9.82,12.3V4.7l6.137,3.8Z"
            transform="translate(0 0.001)"
            fill="#5d5d5d"
          />
        </g>
      </svg>
    </a>
  </li>

  <li class="social__item">
    <a target="_blank" class="social__link" href="#">
      {% include "@images/twitter.svg" %}
    </a>
  </li>
</ul>
