.social {
  display: flex;
  list-style: none;
  margin-left: -4px;
  margin-right: -4px;
  align-items: center;
  height: auto;
  &__item {
    padding: 0 4px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    height: 18px;
    width: 21px;
    &:hover {
      transform: scale(1.1);
      svg,
      path,
      g {
        opacity: 1 !important;
        fill: var(--color-primary) !important;
      }
    }
    path {
      transition: all 0.3s;
    }
    svg {
      object-fit: contain;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.social__link--whatsapp {
  width: 26px;
  height: 26px;
  margin-left: -2px;
}
