<section class="match-detail">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-11 mx-auto">
        <div class="topstory__main boxShadow boxRadius">
          <img src="images/content/top-1.jpeg" alt="top" />
          <h1>Vítězný vstup do nového roku</h1>
        </div>
        <div class="match-detail__wrapper boxShadow boxRadius">
          <div class="row">
            <div class="col-sm-4">
              <div class="match-detail__logo">
                <img src="images/content/klub-2.png" alt="" />
              </div>
              <div class="match-detail__team">BM České Budějovice</div>
            </div>
            <div class="col-sm-4 order-first order-sm-0">
              <div class="match-detail__date">STŘEDA 3.1.2024</div>
              <div class="match-detail__league">Tipsport extraliga</div>
              <div class="match-detail__result win">2 : 3SN</div>
              <div class="match-detail__info">
                <p>(1:1, 0:1, 1:0 - 0:0)</p>
                <p>ŠKOENERGO Aréna</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="match-detail__logo">
                <img src="images/ico/logo.svg" alt="" />
              </div>
              <div class="match-detail__team">HC Oceláři Třinec</div>
            </div>
          </div>
        </div>
        <div class="article-section__inner boxShadow boxRadius">
          <div class="article-section__content">
            <ul class="article-section__info">
              <li>10.01.2024</li>
              <li>Ondřej Kuchař</li>
            </ul>
            <p class="perex">
              V předchozích šesti utkáních Oceláři ani jednou neodcházeli ze
              vzájemného měření s Libercem s nulou. Bodovou sérii se soupeřem
              zpod Ještědu se však na sedmičku natáhnout nepodařilo. Třinečtí na
              severu Čech v dohrávce 29. kola Tipsport extraligy padli 1:4.
              „Zklamání. Příště musíme být lepší,“ má jasno Daniel Voženílek.
              Série venkovních duelů bude pokračovat v pátek na ledě Karlových
              Varů.
            </p>
            <div class="boxGray match-detail__statistics">
              <h2 class="title">ZÁPASOVÉ STATISTIKY</h2>
              <div class="match-detail__statistics-item">
                <span>Branky a nahrávky</span>
                <p>
                  18. F. Pavlík (Malát, Rohlík), 60. Fořt (Malát, Lantoši) – 17.
                  Kurovský (Marinčin, Holinka), 30. Voženílek (Martin Růžička,
                  J. Jeřábek), roz. sam. nájezd Voženílek.
                </p>
              </div>
              <div class="match-detail__statistics-item">
                <span>Rozhodčí </span>
                <p>A. Jeřábek, Jaroš – J. Ondráček, Špůr</p>
              </div>
              <div class="match-detail__statistics-item">
                <span>Diváci</span>
                <p>2 774</p>
              </div>

              <div class="match-detail__list">
                <div class="match-detail__list-col">
                  <div class="match-detail__list-item">
                    <strong>Vyloučení</strong>
                    <span>2:1</span>
                  </div>
                  <div class="match-detail__list-item">
                    <strong>Využití</strong>
                    <span>1:1</span>
                  </div>
                  <div class="match-detail__list-item">
                    <strong>V oslabení</strong>
                    <span>0:0</span>
                  </div>
                </div>
                <div class="match-detail__list-col">
                  <div class="match-detail__list-item">
                    <strong>Střely na branku</strong>
                    <span>28:33</span>
                  </div>
                  <div class="match-detail__list-item">
                    <strong>Střely mimo</strong>
                    <span>10:9</span>
                  </div>
                  <div class="match-detail__list-item">
                    <strong>Zblokované střely</strong>
                    <span>24:12</span>
                  </div>
                </div>
                <div class="match-detail__list-col">
                  <div class="match-detail__list-item">
                    <strong>Hity</strong>
                    <span>4:4</span>
                  </div>
                  <div class="match-detail__list-item">
                    <strong>Vhazování</strong>
                    <span>32:31</span>
                  </div>
                  <div class="match-detail__list-item">
                    <strong>Průběh utkání</strong>
                    <span>0:1, 1:1, 1:2, 2:2, 2:3</span>
                  </div>
                </div>
              </div>
              <div class="match-detail__statistics-item">
                <span>
                  <img src="images/content/klub-2.png" alt="" /> BM České
                  Budějovice</span
                >
                <p>
                  Mazanec – Marinčin, Smith, Kundrátek, Nedomlel, Polášek, J.
                  Jeřábek – Martin Růžička, Miloš Roman, Voženílek – A.
                  Nestrašil, P. Vrána, Pánik – Kurovský, Holinka, Hrehorčák –
                  Haas, Čacho, Dravecký.
                </p>
              </div>
              <div class="match-detail__statistics-item">
                <span>
                  <img src="images/ico/logo.svg" alt="" /> HC Oceláři
                  Třinec</span
                >
                <p>
                  Mazanec – Marinčin, Smith, Kundrátek, Nedomlel, Polášek, J.
                  Jeřábek – Martin Růžička, Miloš Roman, Voženílek – A.
                  Nestrašil, P. Vrána, Pánik – Kurovský, Holinka, Hrehorčák –
                  Haas, Čacho, Dravecký.
                </p>
              </div>
            </div>
            <div class="o-content">
              <p>
                Oceláři první extraligové utkání v kalendářním roce 2024 začali
                náznakem šance, když Nestrašil z pravé strany posílal puk do
                brankoviště, kam natahoval hůl Pánik. Rychlejší byla ovšem
                hokejka brankáře domácích Růžičky. V sedmé minutě se
                mladoboleslavské obecenstvo radovalo poté, co Fořt před
                Mazancovou brankou ťuknul do Lantošiho přihrávky – radost to
                byla planá, kotouč totiž skončil na brankové síťce zvenčí. V
                deváté minutě bylo publikum svědkem nejprve šance Miloše Romana
                a na druhé straně vidělo Dvořáčkovu příležitost. Domácí útočník
                píchl do puku před vyjíždějícím Mazancem a kotouč skončil na
                tyči hostující branky.
              </p>
              <p>
                V jedenácté minutě domácí bránící hráč překazil akci dva na
                jednoho Růžičkovi přihrávajícímu na Voženílka. Hosté pak
                nevyužili přesilovku po jediném faulu první třetiny – na trestné
                byl Malát. V sedmnácté minutě otevřel skóre Daniel Kurovský,
                který pro Jana Růžičku nechytatelným způsobem usměrnil
                Marinčinovo nahození od modré. Hosté vedli ale pouze jednadvacet
                sekund – Filip Pavlík se na modré čáře na pravé straně opřel do
                puku a ukázal, že proti mateřskému klubu se umí trefit. První
                třetina tak skončila vyrovnaným skóre.
              </p>
              <p class="boxRadius">
                <img src="images/content/top-2.jpeg" alt="top" />
              </p>
              <p>
                V prvních minutách prostřední hrací doby byli diváci svědky
                opatrné hry. Oba týmy se uchylovaly spíše k nahazovaným kotoučům
                a snaze o teče či dorážky v předbrankovém prostoru, ale vzhledem
                k tomu, že tato snaha nebyla dostatečně důrazná, velké šance
                jsme neviděli. Puk na Mazance sice poslal třeba Pyrochta či
                Järvinen, velké šance se ale nezrodily. Nebyly k vidění ani při
                delším tlaku třinecké formace číslo tři, Vrána se svými křídly
                nicméně nadělali trochu zmatků před Janem Růžičkou. Následně byl
                vyloučen druhý domácí hráč a hosté za třináct sekund využili
                přesilovou hru, když Daniel Voženílek citlivě nastavil hůl pasu
                Martina Růžičky.
              </p>
              <div class="boxGray">
                <h3 class="title">OHLASY TRENÉRŮ</h3>
                <div class="match-detail__statistics-item align-items-start">
                  <span> Zdeněk Moták (Oceláři Třinec): </span>
                  <p>
                    “Navážu na pana Motáka. Vyrovnané utkání. Z našeho pohledu
                    nám ve druhé třetině trochu nejezdily nohy, museli jsme o
                    přestávce zvednout hlas. Třetí třetiny od nás byla lepší.
                    Gratulace do kabiny, pomohli jsme si vyrovnávacím gólem
                    deset sekund před koncem. V prodloužení se hrálo na obě
                    strany, Třinec měl možná trochu víc šancí. Nájezdy jsou
                    loterie. Gratulujeme soupeři, ale bod bereme a díváme se k
                    dalšímu zápasu.“
                  </p>
                </div>
                <div class="match-detail__statistics-item align-items-start">
                  <span> David Havíř (BM České Budějovice): </span>
                  <p>
                    „Před pár týdny to byl stejný výsledek, ale jiný průběh.
                    Tentokrát jsme většinu zápasu vedli, ale utkání to bylo
                    vyrovnané. Vzalo nám spoustu sil. Jsme rádi za to, že odsud
                    odvážíme dva body.“
                  </p>
                </div>
              </div>
              <div class="match-detail__table boxRadius">
                <table>
                  <thead>
                    <tr>
                      <th class="name">Jméno</th>
                      <th class="num">G</th>
                      <th class="num">A</th>
                      <th class="num">+/-</th>
                      <th class="num">TM</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="name">Daniel Kurovský</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                    </tr>
                    <tr>
                      <td class="name">Daniel Kurovský</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                    </tr>
                    <tr>
                      <td class="name">Daniel Kurovský</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                    </tr>
                    <tr>
                      <td class="name">Daniel Kurovský</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                    </tr>
                    <tr>
                      <td class="name">Daniel Kurovský</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                    </tr>
                    <tr>
                      <td class="name">Daniel Kurovský</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <thead>
                    <tr>
                      <th class="name">Jméno</th>
                      <th class="num">G</th>
                      <th class="num">A</th>
                      <th class="num">+/-</th>
                      <th class="num">TM</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="name">Daniel Kurovský</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                    </tr>
                    <tr>
                      <td class="name">Daniel Kurovský</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                    </tr>
                    <tr>
                      <td class="name">Daniel Kurovský</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                    </tr>
                    <tr>
                      <td class="name">Daniel Kurovský</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                    </tr>
                    <tr>
                      <td class="name">Daniel Kurovský</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                      <td class="num">1</td>
                      <td class="num">0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
