<section class="trainers-section">
  <div class="container">
    <div class="trainers-section__wrapper">
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-1.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Vladimír Országh</div>
          <div class="trainers-section__position">Asistent trenéra</div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-2.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Jaroslav Kameš</div>
          <div class="trainers-section__position">
            Trenér brankářů, Vedoucí mužstva
          </div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-default.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">MUDr. Marcel Staviany</div>
          <div class="trainers-section__position">lékař</div>
          <p class="p1"></p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-3.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Zdeněk Moták</div>
          <div class="trainers-section__position">Hlavní trenér</div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-1.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Vladimír Országh</div>
          <div class="trainers-section__position">Asistent trenéra</div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-2.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Jaroslav Kameš</div>
          <div class="trainers-section__position">
            Trenér brankářů, Vedoucí mužstva
          </div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-3.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Zdeněk Moták</div>
          <div class="trainers-section__position">Hlavní trenér</div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-1.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Vladimír Országh</div>
          <div class="trainers-section__position">Asistent trenéra</div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-2.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Jaroslav Kameš</div>
          <div class="trainers-section__position">
            Trenér brankářů, Vedoucí mužstva
          </div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-3.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Zdeněk Moták</div>
          <div class="trainers-section__position">Hlavní trenér</div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-1.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Vladimír Országh</div>
          <div class="trainers-section__position">Asistent trenéra</div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-2.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Jaroslav Kameš</div>
          <div class="trainers-section__position">
            Trenér brankářů, Vedoucí mužstva
          </div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/real-3.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Zdeněk Moták</div>
          <div class="trainers-section__position">Hlavní trenér</div>
          <p class="p1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
            enim nunc. Sed tristique purus sit amet cursus maximus. Nullam
            consequat finibus lectus quis mollis. Nullam rhoncus risus non
            libero vestibulum, non congue elit consectetur. Nam a neque vitae
            lacus aliquet laoreet. Aliquam ornare ligula vel pellentesque
            sagittis. In elementum pharetra nisi, at lacinia nisl molestie quis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
