<section class="trainers-section">
  <div class="container">
    <div class="trainers-section__wrapper">
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/dir-1.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">ING. JáN MODER</div>
          <div class="trainers-section__position">prezident klubu</div>
          <p class="p1">
            První místopředseda dozorčí rady skupiny TŘINECKÉ ŽELEZÁRNY, a.s. -
            MORAVIA STEEL, a.s. V klubu působí od sezony 1997/98, kdy tehdejší
            tým HC Železárny Třinec vybojoval postup do finále Staropramen
            extraligy a získal stříbrné medaile a titul vicemistra České
            republiky. Z pozice čelního představitele klubu se zásadním dílem
            zasloužil o výstavbu moderních hokejových stánků - WERK ARENY a Mini
            WERK ARENY.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/dir-2.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Ing. Jan Czudek</div>
          <div class="trainers-section__position">viceprezident klubu</div>
          <p class="p1">
            V klubu působí od sezny 2001/02. Významnou měrou se podílel na
            výstavbě multifunkční WERK ARENY, která patří k nejmodernějším
            stánkům ve střední Evropě. Od července 2014 je tento areál chloubou
            Třinecka i celého regionu.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/dir-3.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Ing. Marek Chmiel</div>
          <div class="trainers-section__position">výkonný ředitel</div>
          <p class="p1">
            V klubu působí od sezny 2006/07. Z pozice výkonného ředitele dohlíží
            na administrativu, organizaci a ekonomiku klubu. Stejně jako výše
            uvedení členové vedení klubu, byl také přítomen u historických
            klubových milníků, především při výstavbě multifunkčního areálu na
            Frýdecké ulici.
          </p>
        </div>
      </div>
      <div class="trainers-section__item boxRadius boxShadow">
        <div class="trainers-section__img">
          <img src="images/content/dir-4.png" loading="lazy" alt="" />
        </div>
        <div class="trainers-section__content">
          <div class="title">Jan Peterek</div>
          <div class="trainers-section__position">sportovní ředitel</div>
          <p class="p1">
            Bývalý vynikající střední útočník, kterého zdobila kreativita a
            šikovnost. Díky své přirozené autoritě několik sezon zastával funkci
            kapitána. Byl členem mistrovského kádru třineckých Ocelářů v
            extraligové sezoně 2010/11. Po ukončení aktivní kariéry pracoval na
            pozici manažera mládeže. Významnou měrou se podílel na vzniku
            projektu partnerského klubu Ocelářů ve Frýdku-Místku. V prosinci
            2016 byl jmenován do funkce sportovního ředitele.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
