<section class="contacts-section">
  <div class="container">
    <div class="boxRadius boxShadow contacts-section__box">
      <h1 class="title">ZÁKLADNÍ INFORMACE</h1>
      <div class="o-content">
        <table>
          <tbody>
            <tr>
              <td>
                <strong>Adresa</strong>
              </td>
              <td>
                HOCKEY CLUB OCELÁŘI TŘINEC a.s., Frýdecká 850, Staré Město, 739
                61 Třinec
              </td>
            </tr>
            <tr>
              <td><strong>IČO</strong></td>
              <td>25841599</td>
            </tr>
            <tr>
              <td><strong>DIČ</strong></td>
              <td>CZ 25841599</td>
            </tr>
            <tr>
              <td><strong>Tel sekretariát</strong></td>
              <td><a href="tel:+420596109144">+420 596 109 144</a></td>
            </tr>
            <tr>
              <td><strong>E-mail</strong></td>
              <td>
                <a href="mailto:info@hcotrinec.cz">info@hcotrinec.cz</a>
              </td>
            </tr>
            <tr>
              <td><strong>Klubové barvy</strong></td>
              <td>Červená a bílá</td>
            </tr>
            <tr>
              <td>
                <strong>Klub založen</strong>
              </td>
              <td>V roce 1929 jako SK Třinec</td>
            </tr>
            <tr>
              <td><strong>Změny názvu</strong></td>
              <td>
                1938 KS Zaolzie, 1939 SK Železárny Třinec, 1950 TŽ VŘSR Třinec,
                1988 TŽ Třinec, 1994 HC Železárny Třinec, 1999 HC Oceláři Třinec
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="boxRadius boxShadow contacts-section__box">
      <h2 class="title">KONTAKTY NA PRACOVNÍKY KLUBU</h2>
      <div class="o-content">
        <table>
          <tbody>
            <tr>
              <td>
                <strong>Výkonný ředitel</strong>
              </td>
              <td>Ing. Marek Chmiel</td>
              <td><a href="tel:+420596109114">+420 596 109 114</a></td>
            </tr>
            <tr>
              <td>
                <strong>Sportovní ředitel</strong>
              </td>
              <td>Jan Peterek</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <strong>Arena manager</strong>
              </td>
              <td>Ing. Dušan Adamčík</td>
              <td>
                <a href="tel:+420596109115">+420 596 109 115</a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Asistentka ředitele</strong>
              </td>
              <td>Michaela Wojnarová</td>
              <td>
                <a href="tel:+420596109144">+420 596 109 144</a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Marketing manager (hokej)</strong>
              </td>
              <td>Ing. Peter Harvan</td>
              <td>
                <a href="tel:+420596109127">+420 596 109 127</a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Marketing manager (WERK ARENA)</strong>
              </td>
              <td>Ing. Tomáš Hudcovský</td>
              <td>
                <a href="tel:+420596109132">+420 596 109 132</a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Ticketing</strong>
              </td>
              <td>Beata Ciencialová</td>
              <td>
                <a href="tel:+420596109116">+420 596 109 116</a>
                <br />
                <a href="tel:+420725596155">+420 725 596 155</a> (8:00 -15:00,
                všední dny)
              </td>
            </tr>
            <tr>
              <td>
                <strong>Hlavní účetní</strong>
              </td>
              <td>Ing. Vladimír Šlosnikl</td>
              <td>
                <a href="tel:+420596109126">+420 596 109 126</a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Účetní</strong>
              </td>
              <td>Šárka Lichá</td>
              <td><a href="tel:+420596109119"></a>+420 596 109 119</td>
            </tr>

            <tr>
              <td>
                <strong> Účetní </strong>
              </td>
              <td>Taťána Ponczová</td>
              <td>
                <a href="tel:+420596109120">+420 596 109 120 </a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Recepční </strong>
              </td>
              <td>Soňa Heczková</td>
              <td>
                <a href="tel:+420596109112"> +420 596 109 112</a>
              </td>
            </tr>
            <tr>
              <td>
                <strong> Grafik</strong>
              </td>
              <td>Bc. Jakub Sikora</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <strong>Tiskový mluvčí </strong>
              </td>
              <td>Ondřej Kuchař</td>
              <td>
                <a href="tel:+420608833573">+420 608 833 573 </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
