<section class="partners-section">
  <div class="container">
    <div class="boxSection">
      <h1 class="title">PARTNEŘI KLUBU</h1>
      <p class="p1">
        S upřímnou vděčností vzdáváme hold všem váženým sponzorům, kteří
        významně pomáhají při podpoře hokejového klubu HC Oceláři Třinec. Bez
        Vaší neocenitelné podpory bychom nemohli dosáhnout úspěchů, které se nám
        podařilo během posledních let dosáhnout. A to nejen na úrovni
        seniorského, ale taky mládežnického hokeje. Vaše oddanost umožnila
        posilovat naši pozici silného a úspěšného týmu. Jsme hrdí na to, že
        můžeme spoléhat na Vaši podporu, která nám umožňuje rozvíjet nejen
        sportovní dovednosti našich hráčů, ale také poskytuje nezapomenutelné
        zážitky našim fanouškům. Děkujeme, že jste s námi na cestě za úspěchem a
        slávou, a že sdílíte naši lásku k hokeji.
      </p>
    </div>

    <div class="boxSection">
      <h1 class="title">GENERÁLNÍ PARTNEŘI</h1>
      <div class="partners-section__top row">
        <div class="col-lg-6">
          <a target="_blank" href="#" class="partners-section__item">
            <img src="images/content/zelezarny.png" alt="" />
          </a>
        </div>
        <div class="col-lg-6">
          <a target="_blank" href="#" class="partners-section__item">
            <img src="images/content/steel.png" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="boxSection">
      <h1 class="title">HLAVNÍ PARTNEŘI</h1>
      <div class="partners-section__row">
        <a target="_blank" href="#" class="partners-section__row-item">
          <img src="images/content/partners/p-1.png" alt="" />
        </a>

        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/p-2.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/p-3.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/p-4.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/p-5.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/p-6.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/p-7.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/8.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/9.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/10.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/11.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/12.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/13.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/14.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/15.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/16.png" alt="" />
        </a>
        <a target="_blank" href="#" class="partners-section__row-item">
          <img src="images/content/partners/1.png" alt="" />
        </a>

        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/2.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/3.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/4.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/5.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/6.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/7.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/8.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/9.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/10.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/11.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/12.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/13.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/14.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/15.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/16.png" alt="" />
        </a>
      </div>
    </div>
    <div class="boxSection">
      <h1 class="title">PARTNEŘI</h1>
      <div class="partners-section__row">
        <a target="_blank" href="#" class="partners-section__row-item">
          <img src="images/content/partners/1.png" alt="" />
        </a>

        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/2.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/3.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/4.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/5.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/6.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/7.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/8.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/9.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/10.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/11.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/12.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/13.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/14.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/15.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/16.png" alt="" />
        </a>
      </div>
    </div>
    <div class="boxSection">
      <h1 class="title">MEDIÁLNÍ PARTNEŘI</h1>
      <div class="partners-section__row">
        <a target="_blank" href="#" class="partners-section__row-item">
          <img src="images/content/partners/1.png" alt="" />
        </a>

        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/2.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/3.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/4.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/5.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/6.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/7.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/8.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/9.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/10.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/11.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/12.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/13.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/14.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/15.png" alt="" />
        </a>
        <a href="#" target="_blank" class="partners-section__row-item">
          <img src="images/content/partners/16.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
