<section class="table-section">
  <div class="container">
    <div class="boxSection">
      <h1 class="title">TIPSPORT EXTRALIGA LEDNÍHO HOKEJE 2023/24</h1>

      <div class="table-section__item">
        <table class="tableSort">
          <thead>
            <tr>
              <th class="position">P</th>
              <th class="club">Klub</th>
              <th class="number">Z</th>
              <th class="number">V</th>
              <th class="number">VP</th>
              <th class="number">R</th>
              <th class="number">PP</th>
              <th class="number">P</th>
              <th class="number">VB</th>
              <th class="number">:</th>
              <th class="number">IB</th>
              <th class="number">B</th>
              <th class="number">RB</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="position">1.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">2.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">3.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">4.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr class="trinec">
              <td class="position">5.</td>
              <td class="club">
                <img src="images/ico/logo.svg" alt="" />
                Třinec
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">6.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">7.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">8.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">9.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">10.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">11.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">12.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">13.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">14.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-4">Započteny zápasy do: 25.01.2024 včetně.</p>
    </div>
    <div class="boxSection">
      <h2 class="title">TABULKA DOMÁCÍCH ZÁPASŮ</h2>
      <div class="table-section__item">
        <table class="tableSort">
          <thead>
            <tr>
              <th class="position">P</th>
              <th class="club">Klub</th>
              <th class="number">Z</th>
              <th class="number">V</th>
              <th class="number">VP</th>
              <th class="number">R</th>
              <th class="number">PP</th>
              <th class="number">P</th>
              <th class="number">VB</th>
              <th class="number">:</th>
              <th class="number">IB</th>
              <th class="number">B</th>
              <th class="number">RB</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="position">1.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">2.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">3.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">4.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr class="trinec">
              <td class="position">5.</td>
              <td class="club">
                <img src="images/ico/logo.svg" alt="" />
                Třinec
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">6.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">7.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">8.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">9.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">10.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">11.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">12.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">13.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">14.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="boxSection">
      <h3 class="title">TABULKA VENKOVNÍCH ZÁPASŮ</h3>
      <div class="table-section__item">
        <table class="tableSort">
          <thead>
            <tr>
              <th class="position">P</th>
              <th class="club">Klub</th>
              <th class="number">Z</th>
              <th class="number">V</th>
              <th class="number">VP</th>
              <th class="number">R</th>
              <th class="number">PP</th>
              <th class="number">P</th>
              <th class="number">VB</th>
              <th class="number">:</th>
              <th class="number">IB</th>
              <th class="number">B</th>
              <th class="number">RB</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="position">1.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">2.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">3.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">4.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr class="trinec">
              <td class="position">5.</td>
              <td class="club">
                <img src="images/ico/logo.svg" alt="" />
                Třinec
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">6.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">7.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">8.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">9.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td> 
            </tr>
            <tr>
              <td class="position">10.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">11.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">12.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
            <tr>
              <td class="position">13.</td>
              <td class="club">
                <img src="images/content/klub-1.png" alt="" />
                Litvínov
              </td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="position">14.</td>
              <td class="club">
                <img src="images/content/klub-2.png" alt="" />
                Č. Budějovice
              </td>
              <td class="number">53</td>
              <td class="number"><strong>35</strong></td>
              <td class="number">5</td>
              <td class="number">6</td>
              <td class="number">2</td>
              <td class="number">5</td>
              <td class="number">121</td>
              <td class="number">:</td>
              <td class="number">77</td>
              <td class="number">44</td>
              <td class="number">+60</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="boxSection">
      <h4 class="title">SOUČET - DOMÁCÍ VS. HOSTÉ</h4>
      <div class="table-section__item">
        <table class="tableSort">
          <thead>
            <tr>
              <th class="club"></th>
              <th class="number">Z</th>
              <th class="number">V</th>
              <th class="number">VP</th>
              <th class="number">R</th>
              <th class="number">PP</th>
              <th class="number">P</th>
              <th class="number">VB</th>
              <th class="number">:</th>
              <th class="number">IB</th>
              <th class="number">B</th>
              <th class="number">RB</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="club"><strong>Domácí týmy</strong></td>

              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
            <tr>
              <td class="club"><strong>Hostující týmy</strong></td>
              <td class="number">38</td>
              <td class="number"><strong>22</strong></td>
              <td class="number">7</td>
              <td class="number">0</td>
              <td class="number">5</td>
              <td class="number">3</td>
              <td class="number">133</td>
              <td class="number">:</td>
              <td class="number">75</td>
              <td class="number">89</td>
              <td class="number">+45</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="mt-4">
        Máte technické či obsahové připomínky k tabulce?
        <br />
        Napište nám na podpora@esports.cz.
      </p>
    </div>
  </div>
</section>
