<section class="archive-section" id="photogallery">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-11 mx-auto">
        <div class="boxFilter boxRadius boxShadow">
          <form action="" class="boxFilter__form">
            <label class="o-select boxFilter__label">
              <div class="boxFilter__category">Sezóna</div>
              <select class="js-select">
                <option>sezona 2</option>
                <option>sezona 3</option>
                <option>FORTUNA:NÁRODNÍ LIGA 2023/24</option>
                <option>sezona 1</option>
                <option>sezona 2</option>
                <option>sezona 3</option>
                <option>sezona 4</option>
                <option>sezona 5</option>
              </select>
            </label>

            <label class="o-select boxFilter__label">
              <div class="boxFilter__category">Kategorie</div>
              <select class="js-select">
                <option>vše</option>
                <option>Aktuální zprávy</option>
                <option>Rozhovory</option>
                <option>Reportáže</option>
                <option>Mládež</option>
                <option>Tiskové zprávy</option>
                <option>Soutěže a akce pro fanoušky</option>
                <option>Preview k zápasu</option>
                <option>Ohlasy po utkání</option>
                <option>Sledge – článek</option>
                <option>Sledge – reportáž</option>
                <option>Historie</option>
                <option>Fan Club</option>
              </select>
            </label>
            <label for="" class="boxFilter__label">
              <div class="boxFilter__category">Vyhledávání</div>
              <div class="boxFilter__input">
                <input type="text" />
                <button class="boxFilter__btn">
                  <img
                    src="images/ico/search-menu.svg"
                    loading="lazy"
                    alt="search-menu"
                  />
                </button>
              </div>
            </label>
          </form>
        </div>
        <div class="archive-section__inner boxRadius boxShadow">
          <a
            href="#"
            class="archive-section__item"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <div class="archive-section__img">
              <img src="images/content/top-1.jpeg" loading="lazy" alt="" />
            </div>
            <div class="archive-section__info">
              <div class="archive-section__title">
                První dub quiz nového roku: 30. ledna v radegastovně pod
                padákem!
              </div>
              <ul class="archive-section__descr">
                <li>dnes</li>
                <li>Adam Sušovský</li>
              </ul>
            </div>
          </a>
          <a
            href="#"
            class="archive-section__item"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <div class="archive-section__img">
              <img src="images/content/top-1.jpeg" loading="lazy" alt="" />
            </div>
            <div class="archive-section__info">
              <div class="archive-section__title">
                První dub quiz nového roku: 30. ledna v radegastovně pod
                padákem!
              </div>
              <ul class="archive-section__descr">
                <li>dnes</li>
                <li>Adam Sušovský</li>
              </ul>
            </div>
          </a>
          <a
            href="#"
            class="archive-section__item"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <div class="archive-section__img">
              <img src="images/content/top-2.jpeg" loading="lazy" alt="" />
            </div>
            <div class="archive-section__info">
              <div class="archive-section__title">
                První dub quiz nového roku: 30. ledna v radegastovně pod
                padákem!
              </div>
              <ul class="archive-section__descr">
                <li>dnes</li>
                <li>Adam Sušovský</li>
              </ul>
            </div>
          </a>
          <a
            href="#"
            class="archive-section__item"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <div class="archive-section__img">
              <img src="images/content/top-3.jpeg" loading="lazy" alt="" />
            </div>
            <div class="archive-section__info">
              <div class="archive-section__title">
                První dub quiz nového roku: 30. ledna v radegastovně pod
                padákem!
              </div>
              <ul class="archive-section__descr">
                <li>dnes</li>
                <li>Adam Sušovský</li>
              </ul>
            </div>
          </a>
          <a
            href="#"
            class="archive-section__item"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <div class="archive-section__img">
              <img src="images/content/top-1.jpeg" loading="lazy" alt="" />
            </div>
            <div class="archive-section__info">
              <div class="archive-section__title">
                První dub quiz nového roku: 30. ledna v radegastovně pod
                padákem!
              </div>
              <ul class="archive-section__descr">
                <li>dnes</li>
                <li>Adam Sušovský</li>
              </ul>
            </div>
          </a>
          <a
            href="#"
            class="archive-section__item"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <div class="archive-section__img">
              <img src="images/content/top-3.jpeg" loading="lazy" alt="" />
            </div>
            <div class="archive-section__info">
              <div class="archive-section__title">
                První dub quiz nového roku: 30. ledna v radegastovně pod
                padákem!
              </div>
              <ul class="archive-section__descr">
                <li>dnes</li>
                <li>Adam Sušovský</li>
              </ul>
            </div>
          </a>
          <a
            href="#"
            class="archive-section__item"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <div class="archive-section__img">
              <img src="images/content/top-1.jpeg" loading="lazy" alt="" />
            </div>
            <div class="archive-section__info">
              <div class="archive-section__title">
                První dub quiz nového roku: 30. ledna v radegastovně pod
                padákem!
              </div>
              <ul class="archive-section__descr">
                <li>dnes</li>
                <li>Adam Sušovský</li>
              </ul>
            </div>
          </a>
          <a
            href="#"
            class="archive-section__item"
            data-source="/sk-kladno/build/ajax-gallery.json"
            data-gallery-id="1"
          >
            <div class="archive-section__img">
              <img src="images/content/top-2.jpeg" loading="lazy" alt="" />
            </div>
            <div class="archive-section__info">
              <div class="archive-section__title">
                První dub quiz nového roku: 30. ledna v radegastovně pod
                padákem!
              </div>
              <ul class="archive-section__descr">
                <li>dnes</li>
                <li>Adam Sušovský</li>
              </ul>
            </div>
          </a>

          <nav aria-label="Další stránky">
            <ul
              class="pagination d-flex flex-wrap pagination-flat pagination-success"
            >
              <li class="page-item active">
                <a class="page-link" href="#" data-abc="true">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">6</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" data-abc="true">
                  <img src="images/ico/pagination.svg" alt="" />
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
