<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-row">
        <a class="header__logo" href="">
          <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
        </a>
        <ul class="header__cups">
          <li>
            <img src="images/ico/2011.svg" alt="" />
          </li>
          <li>
            <img src="images/ico/2019.svg" alt="" />
          </li>
          <li>
            <img src="images/ico/2021.svg" alt="" />
          </li>
          <li>
            <img src="images/ico/2022.svg" alt="" />
          </li>
          <li>
            <img src="images/ico/2023.svg" alt="" />
          </li>
        </ul>
        <ul class="header__partners">
          <li>
            <a href="#" target="_blank">
              <img
                src="images/content/zelezarny.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <img
                src="images/content/steel.png"
                loading="lazy"
                alt="partner"
              />
            </a>
          </li>
        </ul>
        <div class="header__media">
          {% include "@components/social/social.twig" %}
          <ul class="header__languages">
            <li>
              <a href="#" class="active">CZ</a>
            </li>
            <li>
              <a href="#" class="">PL</a>
            </li>
            <li>
              <a href="#" class="">EN</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-row">
        <nav class="navbar">
          <ul class="navbar__menu">
            <li class="navbar__menu-list">
              <div class="navbar__menu-item">
                Vstupenky <img src="images/ico/dropdown.svg" alt="" />
              </div>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__list">
                  <a href="#">Jednotlivé vstupenky</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Permanentky</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Uvolňování permanentek</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Vip hospitality</a>
                </li>
              </ul>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Zápasy </a>
            </li>
            <li class="navbar__menu-list">
              <div class="navbar__menu-item">
                Klub <img src="images/ico/dropdown.svg" alt="" />
              </div>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__list">
                  <a href="#">Vedení klubu</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Kontakty </a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#"> Media a press</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Historie </a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Werk arena </a>
                </li>
              </ul>
            </li>
            <li class="navbar__menu-list">
              <div class="navbar__menu-item">
                A-tým <img src="images/ico/dropdown.svg" alt="" />
              </div>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__list">
                  <a href="#"> Soupiska</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Realizační tým</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Statistiky</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Tabulka</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#">Změny v kádru</a>
                </li>
              </ul>
            </li>
            <li class="navbar__menu-list">
              <a href="#" class="navbar__menu-item"> Mládež </a>
            </li>
            <li class="navbar__menu-list">
              <div class="navbar__menu-item">
                Partneři <img src="images/ico/dropdown.svg" alt="" />
              </div>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__list">
                  <a href="#"> Partneři klubu</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#"> Spolupráce </a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#"> Vip hospitality</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#"> HC Frýdek-Místek</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#"> Nadační fond Oceláři </a>
                </li>
              </ul>
            </li>
            <li class="navbar__menu-list">
              <div class="navbar__menu-item">
                Fanzóna
                <img src="images/ico/dropdown.svg" alt="" />
              </div>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__list">
                  <a href="#"> Fanshop </a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#"> Hráčské karty </a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#"> Fotogalerie </a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#"> Ocelářské zážitky</a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#"> Mobilní aplikace </a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#"> Fanclub </a>
                </li>
                <li class="dropdown-menu__list">
                  <a href="#"> Esports </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <ul class="header__bottom-links">
          <li>
            <a href="#"> {% include "@images/statistiky.svg" %} Statistiky</a>
          </li>
          <li>
            <a href="#"> {% include "@images/plan.svg" %} Plán ledu</a>
          </li>
        </ul>
        <div class="header__media--mobile">
          <ul class="header__languages">
            <li>
              <a href="#" class="active">CZ</a>
            </li>
            <li>
              <a href="#" class="">PL</a>
            </li>
            <li>
              <a href="#" class="">EN</a>
            </li>
          </ul>
          {% include "@components/social/social.twig" %}
        </div>
      </div>
      <div class="headerMobile">
        <ul class="headerMobile__links">
          <li>
            <a href="#">
              <img src="images/ico/vstupenky.svg" alt="" /> Vstupenky</a
            >
          </li>
          <li>
            <a href="#"> <img src="images/ico/zapasy.svg" alt="" /> Zápasy </a>
          </li>
        </ul>
        <button class="c-header__opener js-header__opener" type="button">
          <span></span>
          Menu
        </button>
      </div>
    </div>
  </div>
</header>
