<section class="utilizationTickets">
  <div class="container">
    <div class="boxSection">
      <h1 class="title">PROPRACOVANĚJŠÍ VĚRNOSTNÍ PROGRAM</h1>
      <p class="p1">
        Ceníme si věrnosti našich fanoušků a proto zavádíme nový věrnostní
        program, který nabízí atraktivní výhody. Díky tomu můžete ušetřit až 2
        000 Kč na nákup nové permice!
      </p>
      <div class="utilizationTickets__wrapper">
        <div class="boxGray">
          <h2 class="title">NÁVŠTĚVA</h2>
          <div class="boxGray__list row">
            <div class="col-lg-6">
              <p>
                Když navštívíte úvodních 13 domácích zápasů, začneme vám za
                každý další průchod turniketem na utkání základní části počítat
                2% slevu na nákup permanentky pro další sezonu.
              </p>
            </div>
            <div class="col-lg-6">
              <p>
                Znamená to, že za fandění na domácích zápasech můžete získat
                slevu až 26 % na další permanentku.
              </p>
            </div>
          </div>
        </div>
        <div class="boxGray">
          <h3 class="title">UVOLNĚNÍ DO PRODEJE</h3>
          <div class="boxGray__list row">
            <div class="col-lg-6">
              <p>
                Další výhoda spočívá v možnosti uvolnit svou permanentku do
                prodeje, pokud na určité utkání nemůžete dorazit
              </p>
              <p>Za uvolnění permanentky získáte 0,5% slevu</p>
            </div>
            <div class="col-lg-6">
              <p>
                Pokud je tato permanentka prodána ve volném prodeji, získáte
                další 0,5% slevu
              </p>
              <p>
                Celkem za uvolnění do prodeje můžete ušetřit 1 % na nové
                permanentce
              </p>
            </div>
          </div>
        </div>
        <div class="boxGray">
          <h3 class="title">PŮJČENÍ KAMARÁDOVI</h3>
          <div class="boxGray__list row">
            <div class="col-lg-6">
              <p>
                Jestli nemůžete na hokej, permanentku můžete půjčit (poslat)
                kamarádovi přes mobilní aplikaci
              </p>
              <p>Za poslání permanentky od nás dostanete 0,5% slevu</p>
            </div>
            <div class="col-lg-6">
              <p>
                Pokud tato poslaná permanentka projde turniketem, získává
                majitel permanentky další 0,5% slevu
              </p>
            </div>
          </div>
        </div>
        <p class="p1">
          Slevy se počítají pouze z utkání základní části. Díky věrnostnímu
          programu mohou fanoušci získat maximální slevu až 26 % na nákup
          permanentky na další ročník.
        </p>
      </div>
    </div>
    <div class="boxSection">
      <h4 class="title">ZVÝHODNĚNÉ PERMANENTKY A SLEVY</h4>
      <p class="p1">
        Ceníme si věrnosti našich fanoušků a proto zavádíme nový věrnostní
        program, který nabízí atraktivní výhody. Díky tomu můžete ušetřit až 2
        000 Kč na nákup nové permice!
      </p>
      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th>Zvýhodněné permanentky</th>
              <th>Sleva</th>
              <th>Podmínky</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Nepřenosné studentské permanentky s fotkou</td>
              <td><strong>20 % sleva</strong></td>
              <td>
                do sektorů B, C, F, G, H a D při předložení potvrzení o studiu
              </td>
            </tr>
            <tr>
              <td>
                Celosezónní dětská permanentka pro mládež od 100 cm do 150 cm
              </td>
              <td><strong>2 000,- Kč</strong></td>
              <td>do všech sektorů</td>
            </tr>
            <tr>
              <td>Děti do 100 cm</td>
              <td><strong>vstup zdarma</strong></td>
              <td>bez nároku na místo</td>
            </tr>
            <tr>
              <td>Důchodci a senioři</td>
              <td><strong>20 % sleva</strong></td>
              <td>do sektorů B, C, F, G, H a D</td>
            </tr>
            <tr>
              <td>ZTP</td>
              <td><strong>50 % sleva</strong></td>
              <td>do sektorů B, C, F, G, H a D</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="boxSection">
      <h5 class="title">INFOLINKA</h5>
      <div class="utilizationTickets__contact">
        <div class="utilizationTickets__contact-img">
          <img src="images/content/linka.png" alt="" />
        </div>
        <div class="utilizationTickets__contact-info">
          <p>
            Dotazy týkající se aktuálního prodeje permanentních vstupenek na
            sezónu 2023/2024
          </p>
          <a href="tel:+420461049232">+420 461 049 232</a>
        </div>
      </div>
    </div>
  </div>
</section>
