<section class="accreditation-section">
  <div class="container">
    <div class="boxSection">
      <h1 class="title text-center mb-lg-4 mb-3 mx-auto">Akreditace</h1>
      <p class="p1 text-center">
        Akreditační formulář pro utkání Tipsport ELH v ročníku 2023/2024.
      </p>

      <h2 class="p1 mt-4 mb-2 text-center">Přihláška na akreditaci</h2>

      <form action="" class="accreditationForm">
        <div class="orderForm">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <input type="text" placeholder="Jméno / Name" required />
              <input type="text" placeholder="Příjmení / Surname" required />
              <input
                type="tel"
                required
                placeholder="Telefonní číslo / Phone number"
              />
              <input type="email" required placeholder="E-mail / Email" />
              <input type="text" placeholder="Médium" />

              <label class="o-select boxFilter__label">
                <select class="accreditation-select">
                  <option>Funkce</option>
                  <option>Press</option>
                  <option>Foto</option>
                  <option>Staff</option>
                  <option>MLÁDEŽ</option>
                </select>
              </label>

              <a href="#" class="btn btn-primary mx-auto mt-4">Odeslat</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
