<section class="accreditation-section">
  <div class="container">
    <div class="boxSection">
      <h1 class="h1 mb-lg-4 mb-3">Akreditace</h1>
      <p class="p1">
        Akreditační formulář pro utkání Tipsport ELH v ročníku 2023/2024.
      </p>

      <h2 class="title mt-5 mb-3">Přihláška na akreditaci</h2>

      <form action="" class="accreditationForm">
        <div class="orderForm">
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                placeholder="Jméno a příjmení / Name and surname"
                required
              />
              <input
                type="tel"
                required
                placeholder="Telefonní číslo / Phone number"
              />
              <input type="email" required placeholder="E-mail / Email" />
              <input type="text" placeholder="Médium" />

              <label class="o-select boxFilter__label">
                <select class="js-select">
                  <option>Funkce</option>
                  <option>Press</option>
                  <option>Foto</option>
                  <option>Staff</option>
                  <option>MLÁDEŽ</option>
                </select>
              </label>
              <div class="accreditationForm__file">
                <label for="photo">*Průkazová fotografie:</label>
                <input id="photo" type="file" />
              </div>
              <a href="#" class="btn btn-primary mx-auto">Odeslat</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
