<setiom class="topstory">
  <div class="topstory__inner">
    <a href="#" class="topstory__main boxRadius boxShadow">
      <img src="images/content/top-1.jpeg" alt="top" />
      <h1>Někdy na sebe zařvem, zdravá kabina tak funguje!</h1>
    </a>
    <div class="row g-10">
      <div class="col-md-4 col-6">
        <a href="#" class="topstory__item boxShadow">
          <img src="images/content/top-2.jpeg" alt="top" />
          <div class="topstory__item-title">
            Kurovský chválil charakter charakter charakter
          </div>
        </a>
      </div>
      <div class="col-md-4 col-6">
        <a href="#" class="topstory__item boxShadow">
          <img src="images/content/top-3.jpeg" alt="top" />
          <div class="topstory__item-title">
            Sikorův první zápas v extralize
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <div class="topstory__news boxShadow">
          <ul class="topstory__list">
            <li>
              <a href="#">
                Informace o vstupenkách na osmifinále Ligy mistrů se Spartou
              </a>
            </li>
            <li>
              <a href="#"
                >PUB QUIZ Speciál: Přijďte soutěžit s legendou Jirkou
                Polanským</a
              >
            </li>
          </ul>
          <a href="#" class="link link--decore">Další články</a>
        </div>
      </div>
    </div>
  </div>
</setiom>
