<section class="top-section">
  <div class="container">
    <div class="top-section__inner">
      {% include "@components/topstory/topstory.twig" %}

      <div class="top-section__game boxShadow boxRadius">
        <h2 class="title">Příští domácí zápas</h2>
        <div class="newGame">
          <div class="newGame__header">
            <div class="newGame__logos">
              <div class="newGame__logo">
                <img src="images/ico/logo.svg" alt="" />
              </div>
              <span> <img src="images/ico/vs.svg" alt="" /></span>
              <div class="newGame__logo">
                <img src="images/content/klub-1.png" alt="" />
              </div>
            </div>
            <div class="newGame__date">
              <div class="newGame__date-day">Ne 28. 11.</div>
              <div class="newGame__date-time"><span>18:30</span>hod.</div>
            </div>
          </div>
          <div class="newGame__footer">
            <ul class="newGame__links">
              <li>
                <a href="#" target="_blank">
                  <img src="images/ico/sport.svg" loading="lazy" alt="" />
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <img src="images/content/o2.png" loading="lazy" alt="" />
                </a>
              </li>
            </ul>
            <a href="#" class="btn shopBtn"
              >Koupit vstupenky
              <img src="images/ico/cart.svg" loading="lazy" alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="boxShadow boxRadius listGames">
        <div class="listGames__item">
          <div class="listGames__logo">
            <img src="images/ico/logo.svg" alt="" />
          </div>
          <div class="listGames__box">
            <div class="listGames__teams">Třinec - České Budějovice</div>
            <div class="listGames__row">
              <div class="listGames__date">1.12. Út 17:00</div>
              <ul class="listGames__links">
                <li>
                  <a href="#" target="_blank">
                    <img src="images/content/o2.png" loading="lazy" alt="" />
                  </a>
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="listGames__item">
          <div class="listGames__logo">
            <img src="images/content/klub-2.png" alt="" />
          </div>
          <div class="listGames__box">
            <div class="listGames__teams">České Budějovice - Třinec</div>
            <div class="listGames__row">
              <div class="listGames__date">1.12. Pá 17:00</div>
              <ul class="listGames__links">
                <li>
                  <a href="#" target="_blank">
                    <img src="images/content/o2.png" loading="lazy" alt="" />
                  </a>
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="listGames__item">
          <div class="listGames__logo">
            <img src="images/ico/logo.svg" alt="" />
          </div>
          <div class="listGames__box">
            <div class="listGames__teams">Třinec - České Budějovice</div>
            <div class="listGames__row">
              <div class="listGames__date">1.12. Ne 17:00</div>
              <ul class="listGames__links">
                <li>
                  <a href="#" target="_blank">
                    <img src="images/ico/sport.svg" loading="lazy" alt="" />
                  </a>
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
