<section class="top-section juniorsTop-section">
  <div class="container">
    <div class="top-section__inner">
      <div class="listGames boxShadow boxRadius">
        <div class="d-flex justify-content-between align-center mb-3">
          <h2 class="title">Junioři</h2>

          <a href="#" class="link link--decore">Všechny budoucí zápasy</a>
        </div>
        <div class="listGames__item">
          <div class="listGames__logo">
            <img src="images/ico/logo.svg" alt="" />
          </div>
          <div class="listGames__box">
            <div class="listGames__teams">Třinec - České Budějovice</div>

            <div class="listGames__date">1.12. Út 17:00</div>
          </div>
        </div>
        <div class="listGames__item">
          <div class="listGames__logo">
            <img src="images/content/klub-2.png" alt="" />
          </div>
          <div class="listGames__box">
            <div class="listGames__teams">České Budějovice - Třinec</div>
            <div class="listGames__date">1.12. Pá 17:00</div>
          </div>
        </div>
        <div class="listGames__item">
          <div class="listGames__logo">
            <img src="images/ico/logo.svg" alt="" />
          </div>
          <div class="listGames__box">
            <div class="listGames__teams">Třinec - České Budějovice</div>
            <div class="listGames__date">1.12. Ne 17:00</div>
          </div>
        </div>
      </div>
      <div class="boxShadow boxRadius listGames">
        <div class="d-flex justify-content-between align-center mb-3">
          <h2 class="title">Dorost</h2>

          <a href="#" class="link link--decore">Všechny budoucí zápasy</a>
        </div>
        <div class="listGames__item">
          <div class="listGames__logo">
            <img src="images/ico/logo.svg" alt="" />
          </div>
          <div class="listGames__box">
            <div class="listGames__teams">Třinec - České Budějovice</div>

            <div class="listGames__date">1.12. Út 17:00</div>
          </div>
        </div>
        <div class="listGames__item">
          <div class="listGames__logo">
            <img src="images/content/klub-2.png" alt="" />
          </div>
          <div class="listGames__box">
            <div class="listGames__teams">České Budějovice - Třinec</div>
            <div class="listGames__date">1.12. Pá 17:00</div>
          </div>
        </div>
        <div class="listGames__item">
          <div class="listGames__logo">
            <img src="images/ico/logo.svg" alt="" />
          </div>
          <div class="listGames__box">
            <div class="listGames__teams">Třinec - České Budějovice</div>
            <div class="listGames__date">1.12. Ne 17:00</div>
          </div>
        </div>
      </div>
      {% include "@components/topstory/topstory.twig" %}
    </div>
  </div>
</section>
