<section class="player-detail">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-8">
        <div class="player-detail__wrapper">
          <div class="player-detail__img">
            <img src="images/content/hrac-detail.png" alt="player" />
          </div>
          <div class="player-detail__bottom">
            <h1>Marek <span>Mazanec</span></h1>
            <div class="player-detail__bottom-info">
              <div class="player-detail__number">
                <span>32</span>
              </div>
              <div class="player-detail__flag">
                <img src="images/content/cz.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="boxSection h-100">
          <div class="player-detail__info">
            <h2 class="title mb-lg-4 mb-3">Informace o hráči</h2>
            <div class="o-content">
              <table>
                <tbody>
                  <tr>
                    <td>Post</td>
                    <td>Brankář</td>
                  </tr>
                  <tr>
                    <td>Narozen</td>
                    <td>22. 12. 2006</td>
                  </tr>
                  <tr>
                    <td>Výška</td>
                    <td>190 cm</td>
                  </tr>
                  <tr>
                    <td>Váha</td>
                    <td>86 kg</td>
                  </tr>
                  <tr>
                    <td>Hůl</td>
                    <td>Pravá</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
