{% extends "@components/base/base.twig" %} {% set title = "13.0_transfers" %} {%
block main %}
<section class="pressMedia">
  <div class="container">
    <div class="boxSection">
      <h1 class="title">PŘED SEZÓNOU 2023/24 DO KÁDRU OCELÁŘŮ PŘIŠLI</h1>
      <div class="o-content">
        <table>
          <tbody>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="boxSection">
      <h2 class="title">BĚHEM SEZÓNY 2023/24 DO KÁDRU OCELÁŘŮ PŘIŠLI</h2>
      <div class="o-content">
        <table>
          <tbody>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="boxSection">
      <h2 class="title">BĚHEM SEZÓNY 2023/24 DO KÁDRU OCELÁŘŮ PŘIŠLI</h2>
      <div class="o-content">
        <table>
          <tbody>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="boxSection">
      <h1 class="title">PŘED SEZÓNOU 2023/24 DO KÁDRU OCELÁŘŮ PŘIŠLI</h1>
      <div class="o-content">
        <table>
          <tbody>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
            <tr>
              <td>
                <strong> Patrik Koch </strong>
              </td>
              <td>obránce</td>
              <td>HC Vítkovice Ridera</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}
