{% extends "@components/base/base.twig" %} {% set title = "14.0_cooperation" %}
{% block main %}

<section class="cooperation-section">
  <div class="container">
    <div class="boxRadius boxShadow contacts-section__box">
      <h1 class="title">SPOLUPRÁCE</h1>
      <p class="p1 mb-4">
        V případě zájmu o obchodní spolupráci s Oceláři Třinec se prosím obraťte
        na jednoho z našich marketingových manažerů.
      </p>
      <div class="o-content">
        <table>
          <tbody>
            <tr>
              <td>
                <strong> Marketingový manažer</strong>
              </td>

              <td>Ing. Tomáš Hudcovský</td>
              <td>
                <a href="tel:+420608833573">+420 608 833 573</a>
              </td>
            </tr>
            <tr>
              <td>
                <strong> Marketingový manažer</strong>
              </td>

              <td>Ing. Tomáš Hudcovský</td>
              <td>
                <a href="tel:+420608833573">+420 608 833 573</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}
