{% extends "@components/base/base.twig" %} {% set title = "24.0_Fyidek Mistek"
%} {% block main %}

<section class="timeline-section">
  <div class="container">
    <div class="timeline">
      <div class="timeline__left timeline__item" id="time-2015">
        <div class="timeline__date">2015</div>
        <div class="timeline__content">
          <div class="boxSection">
            <div class="timeline__header">
              <h1 class="title mb-lg-4 mb-3">VZNIK PARTNERSKÉHO TÝMU</h1>
              <div class="timeline__logo">
                <img src="images/content/frydek.png" alt="" />
              </div>
            </div>
            <div class="o-content">
              <p class="p1">
                Myšlenka na vznik partnerského týmu vznikla v sezóně 2014/2015.
                Hlavním iniciátorem byl tehdejší manažer třinecké mládeže Jan
                Peterek. Projekt spolupráce mezi extraligovým klubem a
                Frýdkem-Místkem funguje od června 2015, kdy došlo k definitivní
                dohodě mezi Oceláři, frýdeckým hokejovým oddílem a Statutárním
                městem Frýdek-Místek, bez jehož úzké spolupráce a podpory by
                tento projekt nemohl být realizován.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline__right timeline__item timeline__line">
        <div class="timeline__point"><span></span></div>
        <div class="timeline__content">
          <div class="boxSection">
            <h2 class="title mb-lg-4 mb-3">PŘÍPRAVA MLADÝCH HRÁČŮ</h2>
            <div class="o-content">
              <p class="p1">
                Cílem celého projektu spolupráce Ocelářů s frýdecko-místeckým
                klubem je příprava mladých hráčů na přechod do seniorského
                hokeje, především na extraligové úrovni. V úvodní sezóně
                spolupráce Frýdek-Místek hrál třetí nejvyšší soutěž. Tu svěřenci
                trenérů Jiřího Juříka a Marka Malíka ovládli suverénním způsobem
                a postoupili do první ligy.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline__left timeline__item">
        <div class="timeline__point"><span></span></div>
        <div class="timeline__content">
          <div class="boxSection">
            <h2 class="title mb-lg-4 mb-3">Hala polárka</h2>
            <div class="o-content">
              <p class="p1">
                Frýdecko-místecký klub působí v moderní multifunkční hale
                Polárka, která hráčům, realizačnímu týmu i fanouškům poskytuje
                veškerý komfort a podmínky, které ke své práci potřebují. Její
                kapacita činí 2 056 míst na sezení a 400 míst k stání.
              </p>
              <div class="boxRadius">
                <img
                  class="w-100 h-auto"
                  src="images/content/frydek-img.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline__right timeline__item timeline__line" id="time-web">
        <div class="timeline__point"><span></span></div>
        <div class="timeline__content">
          <div class="boxSection">
            <div class="timeline__header align-items-center gap-3">
              <h2 class="title">Web hc Frýdek-Místek</h2>
              <a href="#" class="btn btn-primary btn--small">hokej.hcf-m.cz</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
