{% extends "@components/base/base.twig" %} {% set title = "26.0_cards-player" %}
{% block main %}

<section class="cooperation-section">
  <div class="container">
    <div class="boxSection">
      <h1 class="title mb-lg-4 mb-3">Hráčské karty</h1>
      <div class="o-content">
        <p class="p1">
          Získejte podepsané kartičky Ocelářů z exkluzivní edice! Za příspěvek
          na účet Nadačního fondu Oceláři si můžete vybrat své oblíbené hráče
          nebo kompletní balíček celého týmu.
        </p>
        <div class="tableBox">
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>1 kartička / 1 card</th>
                  <th>Cena / Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CZK</td>
                  <td>25 Kč</td>
                </tr>
                <tr>
                  <td>Euro</td>
                  <td>1 €</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>Celý tým</th>
                  <th>Cena / Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CZK</td>
                  <td>500 Kč</td>
                </tr>
                <tr>
                  <td>Euro</td>
                  <td>20 €</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tableBox">
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>Poštovné</th>
                  <th>Cena</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ČR</td>
                  <td>25 Kč</td>
                </tr>
                <tr>
                  <td>Evropa</td>
                  <td>500 Kč</td>
                </tr>
                <tr>
                  <td>Zámoří</td>
                  <td>149 Kč</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tableBox__item">
            <table>
              <thead>
                <tr>
                  <th>Shipping</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ČR / Czech republic</td>
                  <td>2 €</td>
                </tr>
                <tr>
                  <td>Evropa / Europe</td>
                  <td>4 €</td>
                </tr>
                <tr>
                  <td>Zámoří / Overseas</td>
                  <td>6 €</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <style>
          .select-multiple,
          .select-multiple:hover {
            background: none;
            min-height: 200px;
            margin: 0;
          }
        </style>

        <h2 class="title mb-lg-4 mb-3 text-center">OBJEDNÁVKA/ORDER FORM</h2>
        <form method="POST" class="playerCards__form">
          <div class="orderForm">
            <div class="row">
              <div class="col-md-6">
                <input
                  type="text"
                  placeholder="Jméno a příjmení / Name and surname"
                  required
                />
                <input
                  type="text"
                  required
                  placeholder="Adresa / Street and house number"
                />
                <input type="text" required placeholder="PSČ / ZIP code" />
                <input type="text" required placeholder="Město / City" />
                <input type="text" required placeholder="Země / Country" />
                <input
                  type="tel"
                  required
                  placeholder="Telefonní číslo / Phone number"
                />
                <input type="email" required placeholder="E-mail / Email" />

                <p class="my-3">
                  <strong
                    >Mám zájem o kartičky celého týmu/I want the whole team's
                    cards</strong
                  >
                </p>
                <div class="styled-input-single">
                  <label>
                    <input type="radio" name="karticky" value="1" />
                    Ano/Yes
                  </label>
                </div>
                <div class="styled-input-single">
                  <label>
                    <input type="radio" name="karticky" value="0" />
                    Ne/No
                  </label>
                </div>
                <p class="my-3">
                  <strong> Výběr samostatných hráčů </strong>
                  <span style="font-size: 14px; font-weight: 400"
                    >(Pouze pokud jste nevyplnili předešlou otázku jako
                    "Ano")</span
                  >
                  <strong>/Players selection</strong>
                  <span style="font-size: 14px; font-weight: 400"
                    >(If you haven't checked yes)</span
                  >
                </p>

                <select
                  class="form-control select-multiple d-block mb-3"
                  name="hraci[]"
                  id="hraci"
                  multiple="multiple"
                >
                  <option value="81">Marian Adámek</option>
                  <option value="1264">Justin Addamo</option>
                  <option value="977">Adam Cedzo</option>
                  <option value="39">David Cienciala</option>
                  <option value="1117">Viliam Čacho</option>
                  <option value="1009">Marko Daňo</option>
                  <option value="578">Vladimír Dravecký</option>
                  <option value="1011">Oskar Haas</option>
                  <option value="1266">Marek Hrbas</option>
                  <option value="551">Patrik Hrehorčák</option>
                  <option value="1055">Libor Hudáček</option>
                  <option value="733">Bohumil Jank</option>
                  <option value="1054">Jakub Jeřábek</option>
                  <option value="989">Ondřej Kacetl</option>
                  <option value="899">Tomáš Kundrátek</option>
                  <option value="967">Daniel Kurovský</option>
                  <option value="998">Martin Marinčin</option>
                  <option value="997">Marek Mazanec</option>
                  <option value="1063">Radim Mrtka</option>
                  <option value="1119">Richard Nedomlel</option>
                  <option value="921">Andrej Nestrašil</option>
                  <option value="147">Miloš Roman</option>
                  <option value="122">Martin Růžička</option>
                  <option value="754">Petr Sikora</option>
                  <option value="1115">Adam Smith</option>
                  <option value="1265">Michal Teplý</option>
                  <option value="901">Petr Vrána</option>
                  <option value="1118">Kamil Walega</option>
                </select>

                <p>
                  Informace k úhradě příspěvku (prostřednictvím bankovního
                  převodu) vám po vyplnění formuláře zašleme e-mailem/We will
                  send you the payment information (via bank transfer) by e-mail
                  after you fill in the form.
                </p>
                <input class="btn" type="submit" value="ODESLAT" />
              </div>
            </div>
          </div>
        </form>
        <script>
          document
            .querySelectorAll(".select-multiple option")
            .forEach((option) => {
              option.addEventListener("mousedown", (e) => {
                e.preventDefault();

                const originalScrollTop = option.parentNode.scrollTop;

                option.selected = option.selected ? false : true;
                option.parentNode.focus();

                setTimeout(function () {
                  option.parentNode.scrollTop = originalScrollTop;
                }, 0);

                return false;
              });
            });
        </script>
      </div>
    </div>
  </div>
</section>
{% endblock %}
