{% extends "@components/base/base.twig" %} {% set title =
"28.0_juniors-homepage" %} {% block main %} {% include
"@components/top-section/top-section-2.twig" %} {% include
"@components/fanshop-section/fanshop-section.twig" %}

<div class="container">
  <a href="#" target="_blank" class="pub pub--big boxRadius mb-section">
    <img src="images/content/v_kapse.png" loading="lazy" alt="pub" />
  </a>
  <div class="row g-lg-5 g-4">
    <div class="col-lg-6">
      <a href="#" target="_blank" class="pub boxRadius">
        <img src="images/content/pub-2.jpeg" loading="lazy" alt="pub" />
      </a>
    </div>
    <div class="col-lg-6">
      <a href="#" target="_blank" class="pub boxRadius">
        <img src="images/content/pub-3.jpeg" loading="lazy" alt="pub" />
      </a>
    </div>
  </div>
</div>
{% endblock %}
