{% extends "@components/base/base.twig" %} {% set title =
"29.0_juniors-player-detail" %} {% block main %}
<section class="player-detail">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-8">
        <div class="player-detail__wrapper">
          <div class="player-detail__img">
            <img src="images/content/hrac-detail.png" alt="player" />
          </div>
          <div class="player-detail__bottom">
            <h1>Marek <span>Mazanec</span></h1>
            <div class="player-detail__bottom-info">
              <div class="player-detail__number">
                <span>32</span>
              </div>
              <div class="player-detail__flag">
                <img src="images/content/cz.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="boxSection h-100">
          <div class="player-detail__info">
            <h2 class="title mb-lg-4 mb-3">Informace o hráči</h2>
            <div class="o-content">
              <table>
                <tbody>
                  <tr>
                    <td>Post</td>
                    <td>Brankář</td>
                  </tr>
                  <tr>
                    <td>Narozen</td>
                    <td>18.7.1991</td>
                  </tr>

                  <tr>
                    <td>Hůl</td>
                    <td>Pravá</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="player-content">
  <div class="container">
    <ul class="player-content__tabs nav nav-tabs">
      <li>
        <a href="#stats" data-toggle="tab" class="active"
          ><span>Sezónní statistiky</span></a
        >
      </li>
      <li>
        <a href="#career" class="" data-toggle="tab"><span>Kariéra</span></a>
      </li>
      <!-- <li>
        <a href="#posts" data-toggle="tab"><span>ČLÁNKY</span></a>
      </li> -->
    </ul>
    <div class="tab-content">
      <div class="tab-pane in active" id="stats">
        <div class="boxSection player-content__table">
          <div class="o-content">
            <table>
              <thead>
                <tr>
                  <th>Sezóna</th>
                  <th>Záp</th>
                  <th>Min</th>
                  <th>Stř</th>
                  <th>Ink</th>
                  <th>Zás</th>
                  <th>Prů</th>
                  <th>Úsp</th>
                  <th>Čk</th>
                  <th>Tmin</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Základní část 2023/24</td>
                  <td>24</td>
                  <td>1402:07</td>
                  <td>668</td>
                  <td>52</td>
                  <td>616</td>
                  <td>2,23</td>
                  <td><strong>92,22</strong></td>
                  <td>0</td>
                  <td>4</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="player-content__lastGames">
            <div
              class="d-flex justify-content-between flex-wrap align-center gap-2 mb-4"
            >
              <h1 class="title">Posledních 5 zápasů</h1>
              <a href="#" class="link link--decore"> Všechny zápasy </a>
            </div>
            <div class="o-content">
              <table>
                <thead>
                  <tr>
                    <th>Datum</th>
                    <th class="team">Domácí</th>
                    <th class="team">Hosté</th>
                    <th class="result">Výsledek</th>
                    <th>Min</th>
                    <th>Stř</th>
                    <th>Ink</th>
                    <th>Zás</th>
                    <th>Úsp</th>
                    <th>Asis</th>
                    <th>Tmin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>3.1.2024</td>
                    <td class="team">
                      <img src="images/content/klub-1.png" alt="" />
                      MBL
                    </td>
                    <td class="team">
                      <img src="images/ico/logo.svg" alt="" />
                      <strong>TRI</strong>
                    </td>
                    <td class="result win">2:3SN</td>
                    <td>1402:07</td>
                    <td>668</td>
                    <td>52</td>
                    <td>616</td>
                    <td><strong>92,22</strong></td>
                    <td>0</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>3.1.2024</td>
                    <td class="team">
                      <img src="images/content/klub-1.png" alt="" />
                      MBL
                    </td>
                    <td class="team">
                      <img src="images/ico/logo.svg" alt="" />
                      <strong>TRI</strong>
                    </td>
                    <td class="result win">2:3SN</td>
                    <td>1402:07</td>
                    <td>668</td>
                    <td>52</td>
                    <td>616</td>
                    <td><strong>92,22</strong></td>
                    <td>0</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>3.1.2024</td>
                    <td class="team">
                      <img src="images/content/klub-1.png" alt="" />
                      MBL
                    </td>
                    <td class="team">
                      <img src="images/ico/logo.svg" alt="" />
                      <strong>TRI</strong>
                    </td>
                    <td class="result win">2:3SN</td>
                    <td>1402:07</td>
                    <td>668</td>
                    <td>52</td>
                    <td>616</td>
                    <td><strong>92,22</strong></td>
                    <td>0</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>3.1.2024</td>
                    <td class="team">
                      <img src="images/content/klub-1.png" alt="" />
                      MBL
                    </td>
                    <td class="team">
                      <img src="images/ico/logo.svg" alt="" />
                      <strong>TRI</strong>
                    </td>
                    <td class="result lose">1:0</td>
                    <td>1402:07</td>
                    <td>668</td>
                    <td>52</td>
                    <td>616</td>
                    <td><strong>92,22</strong></td>
                    <td>0</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>3.1.2024</td>
                    <td class="team">
                      <img src="images/content/klub-1.png" alt="" />
                      MBL
                    </td>
                    <td class="team">
                      <img src="images/ico/logo.svg" alt="" />
                      <strong>TRI</strong>
                    </td>
                    <td class="result win">2:3SN</td>
                    <td>1402:07</td>
                    <td>668</td>
                    <td>52</td>
                    <td>616</td>
                    <td><strong>92,22</strong></td>
                    <td>0</td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="career">
        <div class="boxSection player-content__table">
          <div class="player-content__career">
            <p class="mb-4">
              Statistiky hráčů založené na www.eliteprospects.com
            </p>

            <div class="o-content">
              <table>
                <thead>
                  <tr>
                    <th>Sezóna</th>
                    <th class="team">Tým</th>
                    <th>Liga</th>
                    <th>GP</th>
                    <th>GAA</th>
                    <th>SVS%</th>
                    <th class="playoff">Play-off</th>
                    <th>GP</th>
                    <th>GAA</th>
                    <th>SVS%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2004-2005</td>
                    <td class="team">
                      <img src="images/content/cz-small.png" alt="" /> IHC Pisek
                      U18
                    </td>
                    <td>Extraligaia U18</td>
                    <td>1</td>
                    <td>14.00</td>
                    <td>.731</td>
                    <td class="playoff">Play-off</td>
                    <td>1</td>
                    <td>2.22</td>
                    <td>.917</td>
                  </tr>
                  <tr>
                    <td>2004-2005</td>
                    <td class="team">
                      <img src="images/content/cz-small.png" alt="" /> IHC Pisek
                      U18
                    </td>
                    <td>Extraligaia U18</td>
                    <td>1</td>
                    <td>14.00</td>
                    <td>.731</td>
                    <td class="playoff">Play-off</td>
                    <td>1</td>
                    <td>2.22</td>
                    <td>.917</td>
                  </tr>
                  <tr>
                    <td>2004-2005</td>
                    <td class="team">
                      <img src="images/content/cz-small.png" alt="" /> IHC Pisek
                      U18
                    </td>
                    <td>Extraligaia U18</td>
                    <td>1</td>
                    <td>14.00</td>
                    <td>.731</td>
                    <td class="playoff">Play-off</td>
                    <td>1</td>
                    <td>2.22</td>
                    <td>.917</td>
                  </tr>
                  <tr>
                    <td>2004-2005</td>
                    <td class="team">
                      <img src="images/content/cz-small.png" alt="" /> IHC Pisek
                      U18
                    </td>
                    <td>Extraligaia U18</td>
                    <td>1</td>
                    <td>14.00</td>
                    <td>.731</td>
                    <td class="playoff">Play-off</td>
                    <td>1</td>
                    <td>2.22</td>
                    <td>.917</td>
                  </tr>
                  <tr>
                    <td>2004-2005</td>
                    <td class="team">
                      <img src="images/content/cz-small.png" alt="" /> IHC Pisek
                      U18
                    </td>
                    <td>Extraligaia U18</td>
                    <td>1</td>
                    <td>14.00</td>
                    <td>.731</td>
                    <td class="playoff">Play-off</td>
                    <td>1</td>
                    <td>2.22</td>
                    <td>.917</td>
                  </tr>
                  <tr>
                    <td>2004-2005</td>
                    <td class="team">
                      <img src="images/content/cz-small.png" alt="" /> IHC Pisek
                      U18
                    </td>
                    <td>Extraligaia U18</td>
                    <td>1</td>
                    <td>14.00</td>
                    <td>.731</td>
                    <td class="playoff">Play-off</td>
                    <td>1</td>
                    <td>2.22</td>
                    <td>.917</td>
                  </tr>
                  <tr>
                    <td>2004-2005</td>
                    <td class="team">
                      <img src="images/content/cz-small.png" alt="" /> IHC Pisek
                      U18
                    </td>
                    <td>Extraligaia U18</td>
                    <td>1</td>
                    <td>14.00</td>
                    <td>.731</td>
                    <td class="playoff">Play-off</td>
                    <td>1</td>
                    <td>2.22</td>
                    <td>.917</td>
                  </tr>
                  <tr>
                    <td>2004-2005</td>
                    <td class="team">
                      <img src="images/content/cz-small.png" alt="" /> IHC Pisek
                      U18
                    </td>
                    <td>Extraligaia U18</td>
                    <td>1</td>
                    <td>14.00</td>
                    <td>.731</td>
                    <td class="playoff">Play-off</td>
                    <td>1</td>
                    <td>2.22</td>
                    <td>.917</td>
                  </tr>
                  <tr>
                    <td>2004-2005</td>
                    <td class="team">
                      <img src="images/content/cz-small.png" alt="" /> IHC Pisek
                      U18
                    </td>
                    <td>Extraligaia U18</td>
                    <td>1</td>
                    <td>14.00</td>
                    <td>.731</td>
                    <td class="playoff">Play-off</td>
                    <td>1</td>
                    <td>2.22</td>
                    <td>.917</td>
                  </tr>
                  <tr>
                    <td>2004-2005</td>
                    <td class="team">
                      <img src="images/content/cz-small.png" alt="" /> IHC Pisek
                      U18
                    </td>
                    <td>Extraligaia U18</td>
                    <td>1</td>
                    <td>14.00</td>
                    <td>.731</td>
                    <td class="playoff">Play-off</td>
                    <td>1</td>
                    <td>2.22</td>
                    <td>.917</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="tab-pane fade" id="posts">
         <div class="archive-section__inner boxRadius boxShadow">
           <div class="player-content__archive">
             <a href="#" class="archive-section__item">
               <div class="archive-section__img">
                 <img src="images/content/top-1.jpeg" loading="lazy" alt="" />
               </div>
               <div class="archive-section__info">
                 <div class="archive-section__title">
                   První dub quiz nového roku: 30. ledna v radegastovně pod
                   padákem!
                 </div>
                 <ul class="archive-section__descr">
                   <li>dnes</li>
                   <li>Adam Sušovský</li>
                 </ul>
               </div>
             </a>
             <a href="#" class="archive-section__item">
               <div class="archive-section__img">
                 <img src="images/content/top-1.jpeg" loading="lazy" alt="" />
               </div>
               <div class="archive-section__info">
                 <div class="archive-section__title">
                   První dub quiz nového roku: 30. ledna v radegastovně pod
                   padákem!
                 </div>
                 <ul class="archive-section__descr">
                   <li>dnes</li>
                   <li>Adam Sušovský</li>
                 </ul>
               </div>
             </a>
             <a href="#" class="archive-section__item">
               <div class="archive-section__img">
                 <img src="images/content/top-2.jpeg" loading="lazy" alt="" />
               </div>
               <div class="archive-section__info">
                 <div class="archive-section__title">
                   První dub quiz nového roku: 30. ledna v radegastovně pod
                   padákem!
                 </div>
                 <ul class="archive-section__descr">
                   <li>dnes</li>
                   <li>Adam Sušovský</li>
                 </ul>
               </div>
             </a>
             <a href="#" class="archive-section__item">
               <div class="archive-section__img">
                 <img src="images/content/top-3.jpeg" loading="lazy" alt="" />
               </div>
               <div class="archive-section__info">
                 <div class="archive-section__title">
                   První dub quiz nového roku: 30. ledna v radegastovně pod
                   padákem!
                 </div>
                 <ul class="archive-section__descr">
                   <li>dnes</li>
                   <li>Adam Sušovský</li>
                 </ul>
               </div>
             </a>
             <a href="#" class="archive-section__item">
               <div class="archive-section__img">
                 <img src="images/content/top-1.jpeg" loading="lazy" alt="" />
               </div>
               <div class="archive-section__info">
                 <div class="archive-section__title">
                   První dub quiz nového roku: 30. ledna v radegastovně pod
                   padákem!
                 </div>
                 <ul class="archive-section__descr">
                   <li>dnes</li>
                   <li>Adam Sušovský</li>
                 </ul>
               </div>
             </a>
           </div>
 
           <a href="#" class="btn btn-primary mx-auto btn--small"
             >Další články v archívu</a
           >
         </div>
       </div> -->
    </div>
  </div>
</section>

{% endblock %}
