{% extends "@components/base/base.twig" %} {% set title =
"29.0_juniors-player-detail" %} {% block main %}
<section class="player-detail">
  <div class="container">
    <div class="row g-3">
      <div class="col-lg-8">
        <div class="player-detail__wrapper">
          <div class="player-detail__img">
            <img src="images/content/hrac-detail.png" alt="player" />
          </div>
          <div class="player-detail__bottom">
            <h1>Marek <span>Mazanec</span></h1>
            <div class="player-detail__bottom-info">
              <div class="player-detail__number">
                <span>32</span>
              </div>
              <div class="player-detail__flag">
                <img src="images/content/cz.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="boxSection h-100">
          <div class="player-detail__info">
            <h2 class="title mb-lg-4 mb-3">Informace o hráči</h2>
            <div class="o-content">
              <table>
                <tbody>
                  <tr>
                    <td>Post</td>
                    <td>Brankář</td>
                  </tr>
                  <tr>
                    <td>Narozen</td>
                    <td>18.7.1991</td>
                  </tr>

                  <tr>
                    <td>Hůl</td>
                    <td>Pravá</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="player-content">
  <div class="container">
    <ul class="player-content__tabs nav nav-tabs">
      <li>
        <a href="#stats" data-toggle="tab" class="active"
          ><span>Sezónní statistiky</span></a
        >
      </li>
      <li>
        <a href="#junCareer" class="" data-toggle="tab"><span>Kariéra</span></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane  fade" id="stats">
        <div class="boxSection player-content__table">
          <div class="o-content">
            <table>
              <thead>
                <tr>
                  <th>Sezóna</th>
                  <th>Záp</th>
                  <th>Min</th>
                  <th>Stř</th>
                  <th>Ink</th>
                  <th>Zás</th>
                  <th>Prů</th>
                  <th>Úsp</th>
                  <th>Čk</th>
                  <th>Tmin</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Základní část 2023/24</td>
                  <td>24</td>
                  <td>1402:07</td>
                  <td>668</td>
                  <td>52</td>
                  <td>616</td>
                  <td>2,23</td>
                  <td><strong>92,22</strong></td>
                  <td>0</td>
                  <td>4</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="player-content__lastGames">
            <div
              class="d-flex justify-content-between flex-wrap align-center gap-2 mb-4"
            >
              <h1 class="title">Posledních 5 zápasů</h1>
              <a href="#" class="link link--decore"> Všechny zápasy </a>
            </div>
            <div class="o-content">
              <table>
                <thead>
                  <tr>
                    <th>Datum</th>
                    <th class="team">Domácí</th>
                    <th class="team">Hosté</th>
                    <th class="result">Výsledek</th>
                    <th>Min</th>
                    <th>Stř</th>
                    <th>Ink</th>
                    <th>Zás</th>
                    <th>Úsp</th>
                    <th>Asis</th>
                    <th>Tmin</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>3.1.2024</td>
                    <td class="team">
                      <img src="images/content/klub-1.png" alt="" />
                      MBL
                    </td>
                    <td class="team">
                      <img src="images/ico/logo.svg" alt="" />
                      <strong>TRI</strong>
                    </td>
                    <td class="result win">2:3SN</td>
                    <td>1402:07</td>
                    <td>668</td>
                    <td>52</td>
                    <td>616</td>
                    <td><strong>92,22</strong></td>
                    <td>0</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>3.1.2024</td>
                    <td class="team">
                      <img src="images/content/klub-1.png" alt="" />
                      MBL
                    </td>
                    <td class="team">
                      <img src="images/ico/logo.svg" alt="" />
                      <strong>TRI</strong>
                    </td>
                    <td class="result win">2:3SN</td>
                    <td>1402:07</td>
                    <td>668</td>
                    <td>52</td>
                    <td>616</td>
                    <td><strong>92,22</strong></td>
                    <td>0</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>3.1.2024</td>
                    <td class="team">
                      <img src="images/content/klub-1.png" alt="" />
                      MBL
                    </td>
                    <td class="team">
                      <img src="images/ico/logo.svg" alt="" />
                      <strong>TRI</strong>
                    </td>
                    <td class="result win">2:3SN</td>
                    <td>1402:07</td>
                    <td>668</td>
                    <td>52</td>
                    <td>616</td>
                    <td><strong>92,22</strong></td>
                    <td>0</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>3.1.2024</td>
                    <td class="team">
                      <img src="images/content/klub-1.png" alt="" />
                      MBL
                    </td>
                    <td class="team">
                      <img src="images/ico/logo.svg" alt="" />
                      <strong>TRI</strong>
                    </td>
                    <td class="result lose">1:0</td>
                    <td>1402:07</td>
                    <td>668</td>
                    <td>52</td>
                    <td>616</td>
                    <td><strong>92,22</strong></td>
                    <td>0</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>3.1.2024</td>
                    <td class="team">
                      <img src="images/content/klub-1.png" alt="" />
                      MBL
                    </td>
                    <td class="team">
                      <img src="images/ico/logo.svg" alt="" />
                      <strong>TRI</strong>
                    </td>
                    <td class="result win">2:3SN</td>
                    <td>1402:07</td>
                    <td>668</td>
                    <td>52</td>
                    <td>616</td>
                    <td><strong>92,22</strong></td>
                    <td>0</td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane in active" id="junCareer">
        <div class="boxSection player-content__table">
          <div class="player-content__career">
            <div class="o-content">
              <h4>Statistiky</h4>
              <table class="table nice">
              <tr>
                <th>Sezóna</th>
                <th class="nowrap">Klub</th>
                <th class="text-center">Z</th>
                <th class="text-center">G</th>
                <th class="text-center">A</th>
                <th class="text-center">B</th>
                <th class="text-center">+/-</th>
                <th class="text-center">TM</th>
              </tr>
              <tr class="center">
                <td rowspan=1>2021-22</td>
                <td><img src="https://hcocelari.esports.cz/znaky/olo.png"
                width="25"> HC Olomouc - DOR (E)</td>
                <td class="text-center">6</td>
                <td class="text-center">2</td>
                <td class="text-center">0</td>
                <td class="text-center">2</td>
                <td class="text-center">1</td>
                <td class="text-center">2</td>
              </tr>
              <tr class="center">
                <td style="border: none;" rowspan=2>2022-23<br><img src="https://hcocelari.esports.cz/foto_tri/medal1.png" width="50"></td>
                <td><img src="https://hcocelari.esports.cz/znaky/tri.png"
                width="25"> HC Oceláři Třinec - DOR (E)</td>
                <td class="text-center">33</td>
                <td class="text-center">3</td>
                <td class="text-center">10</td>
                <td class="text-center">13</td>
                <td class="text-center">8</td>
                <td class="text-center">22</td>
              </tr>
                <td><img src="https://hcocelari.esports.cz/znaky/tri.png"
                width="25"> HC Oceláři Třinec - DOR (E, p-o)</td>
                <td class="text-center">14</td>
                <td class="text-center">4</td>
                <td class="text-center">2</td>
                <td class="text-center">6</td>
                <td class="text-center">4</td>
                <td class="text-center">29</td>
              </tr>
             
              </table>

              <h4>
                Reprezentace
              </h4>
              <table>
                <tr  >
                  <th>Sezóna</th>
                  <th class="nowrap">Akce</th>
                  <th class="text-center">Z</th>
                  <th class="text-center">G</th>
                  <th class="text-center">A</th>
                  <th class="text-center">B</th>
                  <th class="text-center">+/-</th>
                  <th class="text-center">TM</th>
                </tr>
                <tr  >
                  <td rowspan=1>2021-22</td>
                  <td>MMČR krajů 2022</td>
                  <td class="text-center">6</td>
                  <td class="text-center">0</td>
                  <td class="text-center">2</td>
                  <td class="text-center">2</td>
                  <td class="text-center"> 0</td>
                  <td class="text-center">2</td>
                </tr>
              </table>
          </div>
          
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

{% endblock %}
