{% extends "@components/base/base.twig" %} {% set title = "32.0_juniors-map" %}
{% block main %}

<section class="juniorsMap-section">
  <div class="container">
    <div class="boxSection">
      <h1 class="title mb-lg-4 mb-3">týdenní plán-18.3.204-24.3.2024</h1>
      <div class="juniorsMap-section__img">
        <img src="images/content/map.png" alt="">
      </div>

    </div>
  </div>
</section>

{% endblock %}
