<section class="games-section">
  <div class="container">
    <div class="boxSection">
      <div class="d-flex justify-content-between flex-wrap align-center gap-2">
        <h1 class="title">Poslední odehraný zápas</h1>
        <a href="#" class="link link--decore"> Všechny odehrané zápasy </a>
      </div>
      <div class="lastGame">
        <div class="lastGame__logos">
          <div class="lastGame__logo">
            <img src="images/ico/logo.svg" alt="" />
          </div>
          <span>
            <img src="images/content/x.png" alt="" />
          </span>
          <div class="lastGame__logo">
            <img src="images/content/klub-1.png" alt="" />
          </div>
        </div>
        <div class="lastGame__info">
          <div class="lastGame__date">Pá 28. 11. 18:30</div>
          <div class="lastGame__teams">Třinec - Litvínov</div>
        </div>
        <div class="lastGame__links">
          <div class="game__league mb-3">Tipsport extraliga</div>
          <a href="#" class="game__partner">
            <img src="images/content/o2.png" alt="" />
          </a>
        </div>
        <div class="lastGame__result">
          <a href="#" class="lastGame__result-count win">2 : 3SN</a>
          <p>(1:1, 0:1, 1:0 - 0:0)</p>
        </div>
      </div>
    </div>
    <div class="boxSection">
      <div class="d-flex justify-content-between flex-wrap align-center gap-2">
        <h2 class="title">Nejbližší zápasy</h2>
        <a href="#" class="link link--decore"> Všechny budoucí zápasy </a>
      </div>
      <div class="games-section__inner">
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Tipsport extraliga</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/content/o2.png" alt="" />
              </a>
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>

            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Liga mistrů</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/content/o2.png" alt="" />
              </a>
            </div>
            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Spengler cup</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>

            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
      </div>
    </div>
    <div class="boxSection">
      <h3 class="title">Tipsport Extraliga 2023/24</h3>
      <div class="games-section__inner games-section__all">
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Tipsport extraliga</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/content/o2.png" alt="" />
              </a>
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>

            <div class="game__result">
              <span>(1:1, 0:1, 1:0)</span>
              <a href="#" class="lose">2:3</a>
            </div>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Liga mistrů</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/content/o2.png" alt="" />
              </a>
            </div>
            <div class="game__result">
              <span>(1:1, 0:1, 1:0)</span>
              <a href="#" class="win">3:4</a>
            </div>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Spengler cup</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>

            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Spengler cup</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>

            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Spengler cup</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>

            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Spengler cup</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>

            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Spengler cup</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>

            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
        <div class="game">
          <div class="game__logos">
            <div class="game__logo">
              <img src="images/ico/logo.svg" alt="" />
            </div>
            <span>
              <img src="images/content/x.png" alt="" />
            </span>
            <div class="game__logo">
              <img src="images/content/klub-1.png" alt="" />
            </div>
          </div>
          <div class="game__date">Pá 28. 11. 18:30</div>
          <div class="game__teams">Třinec - Litvínov</div>
          <div class="game__league">Spengler cup</div>
          <div class="game__links">
            <div class="game__partners">
              <a href="#" class="game__partner">
                <img src="images/ico/sport.svg" alt="" />
              </a>
            </div>

            <a href="#" class="btn btn--small">Vstupenky</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
